<ion-view>
<ion-content style="background:#f3f4f6;bottom: 0; " delegate-handle="head">

    <div class="cruise">
        <ion-slide-box class="silde-img" does-continue="true" auto-play="true" slide-interval="2000">
            <ion-slide>
                <img src="img/youlun.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="img/youlun.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="img/youlun.jpg"/>
            </ion-slide>
        </ion-slide-box>
        <div class="homeD-a-1"><a href="#tab/home"><img src="img/houtui.png"></a></div>
        <div class="homeD-a-2"><a href="#"><img src="img/fenxiang.png"></a></div>
    </div>

    <div class="cruise-1">
        <h4>河韵号介绍</h4>

        <table>
            <tr>
                <td>
                    <span class="cruise-1-td1">吨位</span>
                    <br>
                    <span class="cruise-1-td2">51.044</span>
                </td>

                <td>
                    <span class="cruise-1-td1">载客</span>
                    <br>
                    <span class="cruise-1-td2">992人</span>
                </td>

                <td>
                    <span class="cruise-1-td1">船长（米）</span>
                    <br>
                    <span class="cruise-1-td2">238米</span>
                </td>

            </tr>

            <tr>
                <td>
                    <span class="cruise-1-td1">船宽（米）</span>
                    <br>
                    <span class="cruise-1-td2">51.044</span>
                </td>

                <td>
                    <span class="cruise-1-td1">航速</span>
                    <br>
                    <span class="cruise-1-td2">20节</span>
                </td>

                <td>
                    <span class="cruise-1-td1">吃水深度（米）</span>
                    <br>
                    <span class="cruise-1-td2">7.6米</span>
                </td>

            </tr>
        </table>

        <div class="cruise-1-1">
            <p>世界上最年轻最时尚的和韵号游轮，拥有无限可能的精彩假期，专属于您的自由现已航游的精彩假期，专属于您的自由现已航游的精彩假期，专属于您的自由现已航游的精彩假期，专属于您的自由现已航游</p>
        </div>

        <div class="cruise-1-2">
            <a href="#">
                <i class="ion-ios-arrow-down"></i>
            </a>
        </div>
    </div>
    <ion-scroll direction="x" scrollbar-x="false">
        <div class="cruise-2">
            <ul class="scrollul">
                <li class="selecli crechancolor"><a class="crechancolor1" ng-click="cruchange(0)">舱房介绍</a></li>
                <li class="selecli"><a class="" ng-click="cruchange(1)">餐饮设施</a></li>
                <li class="selecli"><a class=""  ng-click="cruchange(2)">娱乐服务</a></li>
                <li class="selecli"><a class=""  ng-click="cruchange(3)">甲板图</a></li>
                <li class="selecli"><a class=""  ng-click="cruchange(4)">甲板图</a></li>
                <li class="selecli"><a class=""  ng-click="cruchange(5)">甲板图</a></li>
            </ul>
        </div>
    </ion-scroll>
    <div ng-show="cruise.show_0" class="cruise-3">
        <div class="cruise-3-1">
            <h5>豪华海景房</h5>

            <div class="cruise-4">
                <div class="cruise-3-1-1">
                    <img src="img/cruise-3.jpg"/>
                </div>

                <div class="cruise-3-1-2">
                    <ul>
                        <li><span class="cruise-3-1-2span">房间类型&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">E1房型</span></li>
                        <li><span class="cruise-3-1-2span">房间面积&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">19㎡</span></li>
                        <li><span class="cruise-3-1-2span">位于楼层&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">4层</span></li>
                        <li><span class="cruise-3-1-2span">入住人数&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">2人</span></li>
                        <li><a href="#">查看详情<i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="cruise-4">
                <div class="cruise-3-1-1">
                    <img src="img/cruise-3.jpg"/>
                </div>

                <div class="cruise-3-1-2">
                    <ul>
                        <li><span class="cruise-3-1-2span">房间类型&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">E1房型</span></li>
                        <li><span class="cruise-3-1-2span">房间面积&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">19㎡</span></li>
                        <li><span class="cruise-3-1-2span">位于楼层&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">4层</span></li>
                        <li><span class="cruise-3-1-2span">入住人数&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">2人</span></li>
                        <li><a href="#">查看详情<i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>


            <div class="cruise-4">
                <div class="cruise-3-1-1">
                    <img src="img/cruise-3.jpg"/>
                </div>

                <div class="cruise-3-1-2">
                    <ul>
                        <li><span class="cruise-3-1-2span">房间类型&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">E1房型</span></li>
                        <li><span class="cruise-3-1-2span">房间面积&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">19㎡</span></li>
                        <li><span class="cruise-3-1-2span">位于楼层&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">4层</span></li>
                        <li><span class="cruise-3-1-2span">入住人数&nbsp;:</span>&nbsp;&nbsp;<span class="cruise-3-1-2span2">2人</span></li>
                        <li><a href="#">查看详情<i class="ion-ios-arrow-right"></i><i class="ion-ios-arrow-right"></i></a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <div ng-show="cruise.show_1" class="cruise-5">
        <div class="cruise-5-1">
            <h5>Prego意式餐厅</h5>
            <img src="img/cruise-1.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊</p>
        </div>

        <div class="cruise-5-1">
            <h5>Prego意式餐厅</h5>
            <img src="img/cruise-1.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊</p>
        </div>

        <div class="cruise-5-1">
            <h5>Prego意式餐厅</h5>
            <img src="img/cruise-1.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊</p>
        </div>

        <div class="cruise-5-1">
            <h5>Prego意式餐厅</h5>
            <img src="img/cruise-1.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊位于撒的发生啊</p>
        </div>
    </div>

    <div ng-show="cruise.show_2" class="cruise-5">
        <div class="cruise-5-1">
            <h5>健身中心</h5>
            <img src="img/cruise-2.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊</p>
        </div>

        <div class="cruise-5-1">
            <h5>健身中心</h5>
            <img src="img/cruise-2.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊</p>
        </div>

        <div class="cruise-5-1">
            <h5>健身中心</h5>
            <img src="img/cruise-2.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊</p>
        </div>

        <div class="cruise-5-1">
            <h5>健身中心</h5>
            <img src="img/cruise-2.jpg"/>
            <p>提供免费的早餐午餐，晚餐自费，餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊餐厅位于撒的发生啊位于撒的发生啊</p>
        </div>
    </div>

    <div ng-show="cruise.show_3" class="cruise-5">
        <div class="show3">
            <p>三层</p>
            <div><img src="img/jiaban.jpg"></div>
        </div>
        <div class="show3">
            <p>四层</p>
            <div><img src="img/jiaban.jpg"></div>
        </div>
    </div>
    <div ng-show="cruise.show_4" class="cruise-5">
        <div class="show3">
            <p>三层</p>
            <div><img src="img/jiaban.jpg"></div>
        </div>
        <div class="show3">
            <p>四层</p>
            <div><img src="img/jiaban.jpg"></div>
        </div>
    </div>
    <div ng-show="cruise.show_5" class="cruise-5">
        <div class="show3">
            <p>三层</p>
            <div><img src="img/jiaban.jpg"></div>
        </div>
        <div class="show3">
            <p>四层</p>
            <div><img src="img/jiaban.jpg"></div>
        </div>
    </div>
</ion-content>
</ion-view>


