<ion-view>
    <div class="bar bar-header" style="border-bottom: 1px solid #e2e2e2">
        <a href="#tab/home" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
        <h4 style="margin: auto">订单详情</h4>
    </div>
    <ion-content delegate-handle="head" class="has-header" style="background: #f3f4f8;bottom: 0px" >
        <div class="xingqian">
            <div class="xingqiandiv">
                <i class="ion-ios-pricetag-outline"></i>
                <span>订单详情</span>
            </div>
            <ul>
                <li><span>团名称 ：</span><span class="xingqianspan">xxxx活动</span></li>
                <li><span>出发日期 ：</span><span class="xingqianspan">2016-07-03</span></li>
                <li><span>行前说明会时间 ：</span><span class="xingqianspan">7月3号上午0:00</span></li>
                <li><span>行前说明会地点 ：</span><span class="xingqianspan">8层801</span></li>
                <li><span>行前说明会主持人：</span><span class="xingqianspan">张三</span></li>
            </ul>
        </div>
        <div class="xingqian">
            <div class="xingqiandiv">
                <i class="ion-ios-paper-outline"></i>
                <span>参团信息</span>
            </div>
            <ul>
                <li><span>团名称 ：</span><span class="xingqianspan">xxxx活动</span></li>
                <li><span>出发日期 ：</span><span class="xingqianspan">2016-07-03</span></li>

            </ul>
        </div>
        <div class="xingqian">
            <div class="xingqiandiv">
                <i class="ion-ios-person-outline"></i>
                <span>联系人信息</span>
            </div>
            <ul>
                <li><span>团名称 ：</span><span class="xingqianspan">xxxx活动</span></li>
                <li><span>出发日期 ：</span><span class="xingqianspan">2016-07-03</span></li>

            </ul>
        </div>
    </ion-content>
</ion-view>
