<ion-view view-title="出错了" >
    <div class="bar bar-header">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>

<ion-content class="has-header" style="background: #fff;bottom: 0px;" delegate-handle="head">
    <div class="err-1">
        <img src="img/404.png" class="err-1-img"/>

        <h4>很抱歉，找不到页面</h4>

        <p>请您重新刷新页面，或者<a href="#">返回</a>首页</p>

        <div class="err-1-1">
            <a href="#">
                <img src="img/errryfrsh.png"/><span>刷新重试</span>
            </a>
        </div>
    </div>


</ion-content>

</ion-view>


