
<ion-view view-title="航班选择">
    <div class="bar bar-header" id="soutou">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>

    <ion-content class="has-header order" delegate-handle="head">

        <div class="flight-1">
            <span>行程日期  :</span>
            <span class="flight-1-1">2015年12月9日———</span><span class="flight-1-1">2015年12月12日</span>
        </div>

        <div class="selserver-1" style="margin-top: 10px">
            <label for="flight-2-31">
                <div class="selserver-1-1">
                    <div class="selserver-1-1-1">
                        <img src="img/homed-a-3.png"/>
                        <span>方案一</span>
                    </div>

                    <div class="selserver-1-1-2">
                        <span class="flight-2-1">差价 : </span>
                        <span class="flight-2-2">￥1688</span>
                        <input class="flight-2-3" type="radio" checked="" name="input1" id="flight-2-31"/>
                    </div>
                </div></label>

            <div class="selserver-1-2">
                <div class="selserver-1-2-1">
                    <div class="chufa">
                        <span>06:45</span>
                        <br>
                        <span>北京</span>
                    </div>

                    <div class="zhongjian">
                        <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                        <div class="zhongjian-a">
                            <div class="zhongjian-1"></div>
                            <div class="zhongjian-2"></div>
                        </div>

                        <div class="zhongjian-5">去程</div>

                        <div class="zhongjian-b">
                            <div class="zhongjian-3"></div>
                            <div class="zhongjian-4"></div>
                        </div>

                    </div>

                    <div class="zhongdian">
                        <span>10:45</span>
                        <br>
                        <span>巴厘岛</span>
                    </div>
                </div>

                <div class="selserver-1-2-2">

                    <div class="chufa">
                        <span>06:45</span>
                        <br>
                        <span>北京</span>
                    </div>

                    <div class="zhongjian">
                        <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                        <div class="zhongjian-a">
                            <div class="zhongjian-1"></div>
                            <div class="zhongjian-2"></div>
                        </div>

                        <div class="zhongjian-5">返程</div>

                        <div class="zhongjian-b">
                            <div class="zhongjian-3"></div>
                            <div class="zhongjian-4"></div>
                        </div>

                    </div>

                    <div class="zhongdian">
                        <span>10:45</span>
                        <br>
                        <span>巴厘岛</span>
                    </div>
                </div>
            </div>
        </div>
        <label for="flight-2-32">
            <div class="selserver-1" style="margin-top: 10px">
                <div class="selserver-1-1">
                    <div class="selserver-1-1-1">
                        <img src="img/homed-a-3.png"/>
                        <span>方案二</span>
                    </div>

                    <div class="selserver-1-1-2">
                        <span class="flight-2-1">差价 : </span>
                        <span class="flight-2-2">￥1688</span>
                        <input class="flight-2-3"id="flight-2-32" type="radio" name="input1"/>
                    </div>
                </div>
        </label>

        <div class="selserver-1-2">

            <div class="selserver-1-2-1">

                <div class="chufa">
                    <span>06:45</span>
                    <br>
                    <span>北京</span>
                </div>

                <div class="zhongjian">
                    <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                    <div class="zhongjian-a">
                        <div class="zhongjian-1"></div>
                        <div class="zhongjian-2"></div>
                    </div>

                    <div class="zhongjian-5">去程</div>

                    <div class="zhongjian-b">
                        <div class="zhongjian-3"></div>
                        <div class="zhongjian-4"></div>
                    </div>

                </div>

                <div class="zhongdian">
                    <span>10:45</span>
                    <br>
                    <span>巴厘岛</span>
                </div>
            </div>

            <div class="selserver-1-2-2">

                <div class="chufa">
                    <span>06:45</span>
                    <br>
                    <span>北京</span>
                </div>

                <div class="zhongjian">
                    <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                    <div class="zhongjian-a">
                        <div class="zhongjian-1"></div>
                        <div class="zhongjian-2"></div>
                    </div>

                    <div class="zhongjian-5">返程</div>

                    <div class="zhongjian-b">
                        <div class="zhongjian-3"></div>
                        <div class="zhongjian-4"></div>
                    </div>

                </div>

                <div class="zhongdian">
                    <span>10:45</span>
                    <br>
                    <span>巴厘岛</span>
                </div>
            </div>
        </div>
        </div>
        <label for="flight-2-33">
            <div class="selserver-1" style="margin-top: 10px">
                <div class="selserver-1-1">
                    <div class="selserver-1-1-1">
                        <img src="img/homed-a-3.png"/>
                        <span>方案三</span>
                    </div>

                    <div class="selserver-1-1-2">
                        <span class="flight-2-1">差价 : </span>
                        <span class="flight-2-2">￥1688</span>
                        <input class="flight-2-3"id="flight-2-33" type="radio" name="input1"/>


                    </div>
                </div>
        </label>

        <div class="selserver-1-2">

            <div class="selserver-1-2-1">

                <div class="chufa">
                    <span>06:45</span>
                    <br>
                    <span>北京</span>
                </div>

                <div class="zhongjian">
                    <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                    <div class="zhongjian-a">
                        <div class="zhongjian-1"></div>
                        <div class="zhongjian-2"></div>
                    </div>

                    <div class="zhongjian-5">去程</div>

                    <div class="zhongjian-b">
                        <div class="zhongjian-3"></div>
                        <div class="zhongjian-4"></div>
                    </div>

                </div>

                <div class="zhongdian">
                    <span>10:45</span>
                    <br>
                    <span>巴厘岛</span>
                </div>
            </div>

            <div class="selserver-1-2-2">

                <div class="chufa">
                    <span>06:45</span>
                    <br>
                    <span>北京</span>
                </div>

                <div class="zhongjian">
                    <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                    <div class="zhongjian-a">
                        <div class="zhongjian-1"></div>
                        <div class="zhongjian-2"></div>
                    </div>

                    <div class="zhongjian-5">返程</div>

                    <div class="zhongjian-b">
                        <div class="zhongjian-3"></div>
                        <div class="zhongjian-4"></div>
                    </div>

                </div>

                <div class="zhongdian">
                    <span>10:45</span>
                    <br>
                    <span>巴厘岛</span>
                </div>
            </div>
        </div>
        </div>


    </ion-content>

    <div class="bar bar-footer bar-dark" style="padding: 0">
        <a href="#" class="button button-icon orderdi" ng-click="orderPrice()">
            <span class="dizi">
                方案一  :<span>￥16680</span></span>
        </a>
        <a href="#" class="button button-icon icon orderdi2" ng-click="ewm(2)">
            <span class="orderdi2-1">下一步</span>
        </a>
    </div>
</ion-view>


