<ion-view view-title="优惠信息">
    <div class="bar bar-header">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content class="gouwushuoming">
        <div class="gouwu1">
            <p>经旅游者和旅行社双方协商一致，可选择进入的购物场所：</p>
        </div>
        <div class="gouwu">
            <a href="#" class="item item-icon-right">
                <i class="ion-chevron-right"></i>
                乳胶中心
            </a>
            <a href="#" class="item item-icon-right">
                <i class="ion-chevron-right"></i>
                蛇药研究所中心
            </a>
            <a href="#" class="item item-icon-right">
                <i class="ion-chevron-right"></i>
                珠宝中心
            </a>
            <a href="#" class="item item-icon-right">
                <i class="ion-chevron-right"></i>
                市场中心
            </a>
        </div>
     </ion-content>
</ion-view>
