<ion-view view-title="文本" hide-tabs>
    <div class="bar bar-header">
        <a href="#tab/homeD-a" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
        <h1 class="title">费用包含</h1>
    </div>

    <ion-content class="has-header" style="background: #f3f4f8"  delegate-handle="head">
        <div class="wenbana">
            <p>1.洛杉矶迪士尼乐园2日单园门票一张（成人票或儿童票）</p>
            <p>费用不包含</p>
            <p>1.护照费用</p>
            <p>2.美国B1/B2签证费用（美国使馆面签或中信银行代传递每人收1200元人民币）</p>
            <p>3.游客所有的个人消费（如酒店内电话、传真、洗熨、收费电视、饮料等相关费用）</p>
            <p>5.中国境内地面服务费</p>
            <p>6.境内境外行李物品保管费，境外内陆段行李托运费、境内境外行李托运超重费、境内境外行李托运超件费</p>
            <p>7.餐食费、住宿费及交通费</p>
            <p>8.游客因自身过错、自由活动期间内个人行为引起的人身和财产损失等</p>
            <p>9.因交通延误、战争、政变、罢工、自然灾害、飞机故障、航班取消或更改时间等人力不可抗拒原因所致的额外费用</p>
            <p>10.门票费用以外的所有费用</p>
            <br/><br/>
            <p>（4）以头部及肩膀顶端近拍，使脸部占据整张照片面积的70~80%。照片尺寸为45*35毫米，头部长度32-36毫米；</p>
        </div>
    </ion-content>

</ion-view>


