<ion-view view-title="文本" hide-tabs>
    <div class="bar bar-header">
        <a href="#tab/homeD-a" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
        <h1 class="title">温馨提示</h1>
    </div>

    <ion-content class="has-header" style="background: #f3f4f8"  delegate-handle="head">
        <div class="wenbana">
            <p>巴厘岛（Bali），行政上称为巴厘省，是印度尼西亚33个一级行政区之一，也是著名的旅游胜地。巴厘岛距该国首都雅加达1000多公里，与爪哇岛之间仅有3.2公里宽海峡相隔，面积约5630多平方公里，人口约315万。巴厘省省会设于岛上南部的丹帕沙。巴厘岛是印度尼西亚唯一信奉印度教的地区。</p>
        </div>
    </ion-content>

</ion-view>


