<ion-view view-title="两游搜索结果">
    <ion-content style="background:#f3f4f6;bottom: 44px; " delegate-handle="head">
        <div class="homeD-a">
            <ion-slide-box class="silde-img" does-continue="true" auto-play="true" slide-interval="2000">
                <ion-slide>
                    <img src="img/homed-a-1.jpg"/>
                </ion-slide>
                <ion-slide>
                    <img src="img/homed-a-1.jpg"/>
                </ion-slide>
                <ion-slide>
                    <img src="img/homed-a-1.jpg"/>
                </ion-slide>
            </ion-slide-box>
            <div class="homeD-a-1"><a href="#tab/home"><img src="img/houtui.png"></a></div>
            <div class="homeD-a-2"><a href="#"><img src="img/fenxiang.png"></a></div>
            <img class="homeD-a-z" src="img/tu.png">
            <div class="homeD-a-3"><i class="ion-ios-heart-outline" ng-click="changeColor()"></i></div>
            <div class="homeD-a-4">
                <a href="#">
                    <i class="ion-ios-location" style="color: #fff"></i>
                    <span>&nbsp北京出发</span>
                    <span>&nbsp&nbsp路线编号:</span>
                    <span>04001406323</span>
                </a>
            </div>

        </div>

        <div class="homeD-b">
            <h4>【包机直飞-巴厘岛】奢享套装3晚4日自由行</h4>
            <h4 class="homeD-h4">海边国-阿雅娜水疗度假酒店,Rooftop下午茶+Ayana水疗</h4>
            <div class="homeD-b-1">
                <span>￥</span><span class="homeD-span1">15688</span><span>人/起</span>
                <span class="homeD-b-2">￥19988人/起</span>
                <span class="homeD-b-3">行程天数:&nbsp;4天</span>
            </div>
        </div>

        <div class="homeD-c" ng-click="showBenefit()">
           <img src="img/miaosha.png" class="imgda1">
                <span class="Dieer211">{{laveDay}}</span>
                <span class="Dieer212">{{laveHour}}</span>
                <span class="Dieer213">{{laveMinute}}</span>
                <span class="Dieer214">{{laveSecond}}</span>
            <i class="ion-chevron-right homeD-c-i"></i>
        </div>
        <div class="homeD-c" ng-click="showBenefit()">
           <span class="homeD-c-1-span">预售</span>
            <div class="homeD-c-2-span">
                <ul>
                    <li>
                        <span>11.25</span>
                        <span>￥18668</span>
                    </li>
                </ul>
                <i class="ion-ios-arrow-thin-right"></i>
                <ul>
                    <li>
                        <span>11.25</span>
                        <span>￥18668</span>
                    </li>
                </ul>
                <i class="ion-ios-arrow-thin-right"></i>
                <ul>
                    <li>
                        <span>11.25</span>
                        <span>￥18668</span>
                    </li>
                </ul>
            </div>

            <i class="ion-chevron-right homeD-c-i"></i>
        </div>


        <div class="homeD-d">
            <img class="homeD-c-3" src="img/homed-a-2.png">
            <span>团期/价格</span>
            <span class="homeD-d-2">12-06,</span>
            <span class="homeD-d-2">12-08,</span>
            <span class="homeD-d-2">12-12,</span>
            <a href="#"><i class="ion-chevron-right" id="homeD-d-1" ></i></a>
        </div>
        <div class="homeD-d-k"></div>
        <div class="homeD-e">
            <div class="button-bar sub-header-list">
                <a class="button button-clear button-small clicked" ng-click="changTab(0)">行程详情</a>
                <a class="button button-clear button-small" ng-click="changTab(1)">预定须知</a>
                <a class="button button-clear button-small" ng-click="changTab(2)">线路特色</a>
            </div>
        </div>
        <div ng-show="menus.show_0" class="xingchengxiangq">
            <div class="homeD-f">
                <div class="homeD-f-1">
                    <span class="homeD-f-2">第1天</span>
                    <span class="homeD-f-4">北京</span><img class="homeD-f-4" src="img/homed-a-3.png"/>
                    <span>巴厘岛</span><img class="homeD-f-4" src="img/homed-a-3.png"/>
                    <span>巴厘岛</span>
                </div>

                <div class="homeD-f-5">
                    <img class="homeD-f-5-1" src="img/homed-a-4.png">
                    <span>景点&nbsp;:</span><span class="homeD-f-5-2">&nbsp;海神庙</span><br>

                </div>

                <div class="homeD-f-6">
                    <img class="homeD-f-5-1" src="img/homed-a-5.png">
                    <span>早餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">午餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">晚餐&nbsp;:</span><span>&nbsp;自理</span><br>
                </div>

                <div class="homeD-f-7">
                    <img class="homeD-f-5-1" src="img/homed-a-6.png.png">
                    <span class="homeD-f-7-1"><span>入住&nbsp;:</span>&nbsp;泳池别墅（参考）：Athena Villa 或S额卡人NUSA或Alang Alang 或Halcyon等。<br/>仅供参考，最终确认以出团通知书为准</span>
                    <p class="homeD-f-7-2">于首都国际机场集合，搭乘国际航班飞机飞往度假胜地-巴厘岛，美女送上鲜花后再搭乘巴士游览沿途风光回酒店休息。</p>
                    <i class="homeDac1"></i>
                </div>
            </div>

            <div class="homeD-f">
                <div class="homeD-f-1">
                    <span class="homeD-f-2">第2天</span>
                    <span class="homeD-f-4">巴厘岛</span><img class="homeD-f-4" src="img/homed-a-3.png"/>
                    <span>海神庙</span>
                </div>

                <div class="homeD-f-5">
                    <img class="homeD-f-5-1" src="img/homed-a-4.png">
                    <span>景点&nbsp;:</span><span class="homeD-f-5-2">&nbsp;海神庙</span><br>
                    <img class="homeD-f-5-3" src="img/homed-a-11.jpg"><img class="homeD-f-5-4" src="img/homed-a-12.jpg">
                </div>

                <div class="homeD-f-6">
                    <img class="homeD-f-5-1" src="img/homed-a-5.png">
                    <span>早餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">午餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">晚餐&nbsp;:</span><span>&nbsp;自理</span><br>
                </div>

                <div class="homeD-f-7">
                    <img class="homeD-f-5-1" src="img/homed-a-6.png.png">
                    <span class="homeD-f-7-1"><span>入住&nbsp;:</span>&nbsp;泳池别墅（参考）：Athena Villa 或S额卡人NUSA或Alang Alang 或Halcyon等。<br/>仅供参考，最终确认以出团通知书为准</span>

                    <div>
                        <div class="homeD-f-7-2 homeDachange0">金巴兰海滩（Jimbanran Beach）是整个巴厘岛最令人感到亲切的一片海滩。原来这里还是一个小小的渔村，居住着岛上最淳朴的村民。自从漂亮的饭店盖起来之后，一下子就吸引了大批喜欢自然的欧洲人过来度假。难能可贵的是，这些商业<span id="Dacangzi"></span></div>
                        <div class="homeD-f-7-3" ng-click="homeDa1228(1)"><i class="ion-ios-arrow-down homeDac1"></i></div>
                    </div>

                </div>
            </div>

            <div class="homeD-f">
                <div class="homeD-f-1">
                    <span class="homeD-f-2">第3天</span>
                    <span class="homeD-f-4">巴厘岛</span><img class="homeD-f-4" src="img/homed-a-3.png"/>
                    <span>海神庙</span>
                </div>

                <div class="homeD-f-5">
                    <img class="homeD-f-5-1" src="img/homed-a-4.png">
                    <span>景点&nbsp;:</span><span class="homeD-f-5-2">&nbsp;海神庙</span><br>
                    <img class="homeD-f-5-3" src="img/homed-a-11.jpg"><img class="homeD-f-5-4" src="img/homed-a-12.jpg">
                </div>

                <div class="homeD-f-6">
                    <img class="homeD-f-5-1" src="img/homed-a-5.png">
                    <span>早餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">午餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">晚餐&nbsp;:</span><span>&nbsp;自理</span><br>
                </div>

                <div class="homeD-f-7">
                    <img class="homeD-f-5-1" src="img/homed-a-6.png.png">
                    <span class="homeD-f-7-1"><span>入住&nbsp;:</span>&nbsp;泳池别墅（参考）：Athena Villa 或S额卡人NUSA或Alang Alang 或Halcyon等。<br/>仅供参考，最终确认以出团通知书为准</span>

                    <div>
                        <div class="homeD-f-7-2 homeDachange0">金巴兰海滩（Jimbanran Beach）是整个巴厘岛最令人感到亲切的一片海滩。原来这里还是一个小小的渔村，居住着岛上最淳朴的村民。自从漂亮的饭店盖起来之后，一下子就吸引了大批喜欢自然的欧洲人过来度假。难能可贵的是，这些商业<span id="Dacangzi"></span></div>
                        <div class="homeD-f-7-3" ng-click="homeDa1228(2)"><i class="ion-ios-arrow-down homeDac1"></i></div>
                    </div>

                </div>
            </div>

            <div class="homeD-f">
                <div class="homeD-f-1">
                    <span class="homeD-f-2">第4天</span>
                    <span class="homeD-f-4">巴厘岛</span><img class="homeD-f-4" src="img/homed-a-3.png"/>
                    <span>海神庙</span>
                </div>

                <div class="homeD-f-5">
                    <img class="homeD-f-5-1" src="img/homed-a-4.png">
                    <span>景点&nbsp;:</span><span class="homeD-f-5-2">&nbsp;海神庙</span><br>
                    <img class="homeD-f-5-3" src="img/homed-a-11.jpg"><img class="homeD-f-5-4" src="img/homed-a-12.jpg">
                </div>

                <div class="homeD-f-6">
                    <img class="homeD-f-5-1" src="img/homed-a-5.png">
                    <span>早餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">午餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">晚餐&nbsp;:</span><span>&nbsp;自理</span><br>
                </div>

                <div class="homeD-f-7">
                    <img class="homeD-f-5-1" src="img/homed-a-6.png.png">
                    <span class="homeD-f-7-1"><span>入住&nbsp;:</span>&nbsp;泳池别墅（参考）：Athena Villa 或S额卡人NUSA或Alang Alang 或Halcyon等。<br/>仅供参考，最终确认以出团通知书为准</span>

                    <div>
                        <div class="homeD-f-7-2 homeDachange0">金巴兰海滩（Jimbanran Beach）是整个巴厘岛最令人感到亲切的一片海滩。原来这里还是一个小小的渔村，居住着岛上最淳朴的村民。自从漂亮的饭店盖起来之后，一下子就吸引了大批喜欢自然的欧洲人过来度假。难能可贵的是，这些商业<span id="Dacangzi"></span></div>
                        <div class="homeD-f-7-3" ng-click="homeDa1228(3)"><i class="ion-ios-arrow-down homeDac1"></i></div>
                    </div>

                </div>
            </div>

            <div class="homeD-f">
                <div class="homeD-f-1">
                    <span class="homeD-f-2">第5天</span>
                    <span class="homeD-f-4">巴厘岛</span><img class="homeD-f-4" src="img/homed-a-3.png"/>
                    <span>海神庙</span>
                </div>

                <div class="homeD-f-5">
                    <img class="homeD-f-5-1" src="img/homed-a-4.png">
                    <span>景点&nbsp;:</span><span class="homeD-f-5-2">&nbsp;海神庙</span><br>
                    <img class="homeD-f-5-3" src="img/homed-a-11.jpg"><img class="homeD-f-5-4" src="img/homed-a-12.jpg">
                </div>

                <div class="homeD-f-6">
                    <img class="homeD-f-5-1" src="img/homed-a-5.png">
                    <span>早餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">午餐&nbsp;:</span><span>&nbsp;自理</span><br>
                    <span class="homeD-f-6-1">晚餐&nbsp;:</span><span>&nbsp;自理</span><br>
                </div>

                <div class="homeD-f-7">
                    <img class="homeD-f-5-1" src="img/homed-a-6.png.png">
                    <span class="homeD-f-7-1"><span>入住&nbsp;:</span>&nbsp;泳池别墅（参考）：Athena Villa 或S额卡人NUSA或Alang Alang 或Halcyon等。<br/>仅供参考，最终确认以出团通知书为准</span>

                    <div>
                        <div class="homeD-f-7-2 homeDachange0">金巴兰海滩（Jimbanran Beach）是整个巴厘岛最令人感到亲切的一片海滩。原来这里还是一个小小的渔村，居住着岛上最淳朴的村民。自从漂亮的饭店盖起来之后，一下子就吸引了大批喜欢自然的欧洲人过来度假。难能可贵的是，这些商业<span id="Dacangzi"></span></div>
                        <div class="homeD-f-7-3" ng-click="homeDa1228(4)"><i class="ion-ios-arrow-down homeDac1"></i></div>
                    </div>

                </div>
            </div>
        </div>


        <div class="yudingxuzhi" ng-show="menus.show_1">
            <ul>
                <a href="#tab/home-a-a"><li><img class="ydxq-1" src="img/qian-(4)_10.png"/><span>费用说明</span><img class="ydxq-2" src="img/lanyou.png"/></li></a>
                <a href="#tab/home-a-b"><li><img class="ydxq-1" src="img/qian-(4)_13.png"/><span>签证信息</span><img class="ydxq-2" src="img/lanyou.png"/></li></a>
                <a href="#tab/home-a-c"><li><img class="ydxq-1" src="img/qian-(4)_15.png"/><span>温馨提示</span><img class="ydxq-2" src="img/lanyou.png"/></li></a>
                <a href="#tab/home-a-d"><li><img class="ydxq-1" src="img/qian-(4)_17.png"/><span>签约付款</span><img class="ydxq-2" src="img/lanyou.png"/></li></a>
            </ul>
        </div>

        <div class="xianlutese" ng-show="menus.show_2">
            <div class="xlte-1">
                <img src="img/xing.png">
                <span>线路特色</span>
            </div>

            <div class="xlte-2">
                <ul>
                    <li><span>东航直飞:</span><span>直达巴厘岛-免签海岛，世外桃源世外桃源世外桃源世外桃源世外桃源！贴心为您赠送接机服务</span></li>
                    <li><span>优惠促销:</span><span>直达巴厘岛-免签海岛，世外桃源！世外桃源世外桃源世外桃源</span></li>
                    <li><span>贴心赠送:</span><span>直达巴厘岛-免签海岛，世外桃源！免签海岛免签海岛免签海岛</span></li>
                    <li><span>一卡通服务:</span><span>巴士接送热门景区8条路线</span></li>
                    <li><span>一卡通服务:</span><span>多语言服务（中文）台语</span></li>
                </ul>
            </div>
        </div>

        <script id="benefit.html" type="text/ng-template">
            <ion-modal-view class="modal3 slide-in-up ng-enter active ng-enter-active" style="bottom:0px;background: #fff">
                <ion-content style="bottom:0px">
                    <div class="maopao">
                        <a class="button ion-close-circled icon-right" ng-click="closeDetail()" style="background: #fff"></a>
                        <div class="maopaodiv">
                            <p class="maopao-p-1">专项产品新年优惠券</p>
                            <p class="maopao-p-2"><span class="maopao-p-2span">优惠券</span><span class="maopao-p-2span1">移动端下载更优惠</span></p>
                            <p class="maopao-p-3">出发日期 ：<span>01/16可参加次活动</span></p>
                            <p class="maopao-p-4" ng-click="firstShow=true">查看详情>></p>
                            <div class="maopaodiv2">
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p ng-show="firstShow">1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                            </div>
                        </div>
                        <div class="maopao">
                            <p class="maopao-p-1">专项产品新年优惠券</p>
                            <p class="maopao-p-2"><span class="maopao-p-2span">优惠券</span><span class="maopao-p-2span1">移动端下载更优惠</span></p>
                            <p class="maopao-p-3">出发日期 ：<span>01/16可参加次活动</span></p>
                            <p class="maopao-p-4" ng-click="secShow=true">查看详情>></p>
                            <div class="maopaodiv2">
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p ng-show="secShow">1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                            </div>
                        </div>
                        <div class="maopao">
                            <p class="maopao-p-1">专项产品新年优惠券</p>
                            <p class="maopao-p-2"><span class="maopao-p-2span">优惠券</span><span class="maopao-p-2span1">移动端下载更优惠</span></p>
                            <p class="maopao-p-3">出发日期 ：<span>01/16可参加次活动</span></p>
                            <p class="maopao-p-4" ng-click="thirdShow=true">查看详情>></p>
                            <div class="maopaodiv2">
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p ng-show="thirdShow">1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                            </div>
                        </div>
                        <div class="maopao">
                            <p class="maopao-p-1">专项产品新年优惠券</p>
                            <p class="maopao-p-2"><span class="maopao-p-2span">优惠券</span><span class="maopao-p-2span1">移动端下载更优惠</span></p>
                            <p class="maopao-p-3">出发日期 ：<span>01/16可参加次活动</span></p>
                            <p class="maopao-p-4" ng-click="fourShow=true">查看详情>></p>
                            <div class="maopaodiv2">
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p ng-show="fourShow">1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
        <script id="detail.html" type="text/ng-template">
            <ion-modal-view style="height:600px;top:30%">
                <ion-content style="bottom:0px">
                    <div class="maopao">
                        <div class="maopaodiv">
                            <p class="maopao-p-1">专项产品新年优惠券</p>
                            <p class="maopao-p-2"><span class="maopao-p-2span">优惠券</span><span class="maopao-p-2span1">移动端下载更优惠</span></p>
                            <p class="maopao-p-3">出发日期 ：<span>01/16可参加次活动</span></p>
                            <p class="maopao-p-4">查看详情>></p>
                            <div class="maopaodiv2">
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                                <p>1，活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外活动期内，持62开头银联卡在境外</p>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>
    <div class="bar bar-footer bar-dark" style="padding: 0">

        <div id="homeD-adi"ng-click="showModal()">

                <i class="ion-ios-telephone"></i></br>
                <span>电话咨询</span>

        </div>
        </a>

        <div id="homeD-adi1">
            <a href="#tab/order">
                立即预订
            </a>
        </div>

    </div>
</ion-view>


