<ion-view view-title="文本" hide-tabs>
    <div class="bar bar-header">
        <a href="#tab/homeD-a" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
        <h1 class="title">费用包含</h1>
    </div>

    <ion-content class="has-header" style="background: #f3f4f8"  delegate-handle="head">
        <div class="wenbana">
            <p>签约方式</p>
            <br/><br/>
            <p>1、传真或邮件签约：旅行社人员填好合同后以传真或邮件形式发给您，由您填写相应条款并签字后回传确认。</p>
            <p>2、门市现场签约：旅行社人员电话联系您，为您将订单派发至方便前往的门市签合同。</p>
            <p>查看线下服务网络地图</p>
            <p>下载合同及附件范本：出境旅游合同</p>
            <br/>
            <br/>
            <p>付款方式</p>
            <br/>
            <br/>
            <p>1、在线支付：支持绝大多数银行的借记卡及信用卡网银支付、银联在线支付及支付宝支付。</p>
            <p>2、电话支付：信用卡无需开通网银，只需拨打中国国旅全国旅游咨询预订热线400-600-8888即可便捷支付。</p>
            <p>3、门市现付：支持现金、支票、刷卡等方式付款。</p>
            <p>4、银行汇款：通过银行将旅费汇至公司银行账户。您自行承担。</p>
            <p>3.      产品中提供的航班、火车车次信息仅作参考，具体请以实际确认的航班、火车车次信息为准。</p>
            <p>4.      产品中可选酒店的星级标准为当地酒店评定标</p>

            <p>（4）以头部及肩膀顶端近拍，使脸部占据整张照片面积的70~80%。照片尺寸为45*35毫米，头部长度32-36毫米；</p>
        </div>
    </ion-content>

</ion-view>


