<ion-view view-title="票务详情">
    <ion-content delegate-handle="head">

        <!--图-->
        <div class="homeDb">
            <ion-slide-box class="silde-img" does-continue="true" auto-play="true" slide-interval="2000">
                <ion-slide>
                    <img src="img/lvxing (2).jpg"/>
                </ion-slide>
                <ion-slide>
                    <img src="img/lvxing (2).jpg"/>
                </ion-slide>
                <ion-slide>
                    <img src="img/lvxing (2).jpg"/>
                </ion-slide>
            </ion-slide-box>
            <div class="homeAc-1"><a href="#tab/home"><img src="img/houtui.png"></a></div>
            <div class="homeAc-2"><a href="#"><img src="img/fenxiang.png"></a></div>
            <div class="homeAc-3"><i class="ion-ios-heart-outline"></i></div>
        </div>

        <!---字--->
        <div class="homeDb4">
            <p>DELSEY大使U-LITE系列旅行箱，多种颜色尺寸可选旅行好伴侣</p>
            <span class="homeDb4span">￥<span>15688</span>起</span>
        </div>

        <div class="homeDb5"></div>
        <div class="homeDb6"><span class="jiage" ng-controller="sizeController" ng-click="showSize()">请选择颜色分类/尺码</span><i class="ion-chevron-right" id="homeDb6i"></i></div>
        <div class="homeDb5-1"></div>
        <div class="homeD-e">
            <div class="button-bar sub-header-list">
                <a class="button button-clear button-small clicked" ng-click="changTab(0)">行程详情</a>
                <a class="button button-clear button-small" ng-click="changTab(1)">预定须知</a>
                <a class="button button-clear button-small" ng-click="changTab(2)">线路特色</a>
                <a class="button button-clear button-small" ng-click="changTab(3)">线路特色</a>
            </div>
        </div>
        <div class="b8zi" ng-show="menus.show_0">
            1
            <img src="img/tuzhongzi.jpg">
            <p>无锡市昊昀科技是一家提倡以高端技术、低碳环保为发展核心的高科技暖通公司。是无锡地区公认的远红外碳晶技术的倡导者。  公司针对苏州、无锡区域特点推出了面向市场需求的碳晶低温远红外地面采暖系统——碳晶地暖系统。碳晶地暖系统目前主要应用于建筑物内地面采暖，系统较好的解决了地面采暖加热材料的制热均匀性、地面热平衡性能等问题，并且实现了真正意义上的“分区安装、分区采暖、分区控制、定时定点精确采暖”的现代舒适生活概念。  昊昀科技为元硕碳晶苏州、无锡地区代理商。将推动 “低碳节能”技术作为企业责任，以求真正为用户提供和创造环保、节能、健康、舒适的家居生活</p>
        </div>
        <div class="b8zi" ng-show="menus.show_1">
            2
            <img src="img/tuzhongzi.jpg">
            <p>无锡市昊昀科技是一家提倡以高端技术、低碳环保为发展核心的高科技暖通公司。是无锡地区公认的远红外碳晶技术的倡导者。  公司针对苏州、无锡区域特点推出了面向市场需求的碳晶低温远红外地面采暖系统——碳晶地暖系统。碳晶地暖系统目前主要应用于建筑物内地面采暖，系统较好的解决了地面采暖加热材料的制热均匀性、地面热平衡性能等问题，并且实现了真正意义上的“分区安装、分区采暖、分区控制、定时定点精确采暖”的现代舒适生活概念。  昊昀科技为元硕碳晶苏州、无锡地区代理商。将推动 “低碳节能”技术作为企业责任，以求真正为用户提供和创造环保、节能、健康、舒适的家居生活</p>
        </div>
        <div class="b8zi" ng-show="menus.show_2">
            3
            <img src="img/tuzhongzi.jpg">
            <p>无锡市昊昀科技是一家提倡以高端技术、低碳环保为发展核心的高科技暖通公司。是无锡地区公认的远红外碳晶技术的倡导者。  公司针对苏州、无锡区域特点推出了面向市场需求的碳晶低温远红外地面采暖系统——碳晶地暖系统。碳晶地暖系统目前主要应用于建筑物内地面采暖，系统较好的解决了地面采暖加热材料的制热均匀性、地面热平衡性能等问题，并且实现了真正意义上的“分区安装、分区采暖、分区控制、定时定点精确采暖”的现代舒适生活概念。  昊昀科技为元硕碳晶苏州、无锡地区代理商。将推动 “低碳节能”技术作为企业责任，以求真正为用户提供和创造环保、节能、健康、舒适的家居生活</p>
        </div>
        <div class="b8zi" ng-show="menus.show_3">
            4
            <img src="img/tuzhongzi.jpg">
            <p>无锡市昊昀科技是一家提倡以高端技术、低碳环保为发展核心的高科技暖通公司。是无锡地区公认的远红外碳晶技术的倡导者。  公司针对苏州、无锡区域特点推出了面向市场需求的碳晶低温远红外地面采暖系统——碳晶地暖系统。碳晶地暖系统目前主要应用于建筑物内地面采暖，系统较好的解决了地面采暖加热材料的制热均匀性、地面热平衡性能等问题，并且实现了真正意义上的“分区安装、分区采暖、分区控制、定时定点精确采暖”的现代舒适生活概念。  昊昀科技为元硕碳晶苏州、无锡地区代理商。将推动 “低碳节能”技术作为企业责任，以求真正为用户提供和创造环保、节能、健康、舒适的家居生活</p>
        </div>
        <script id="size.html" type="text/ng-template">
            <ion-modal-view class="modal1 slide-in-up ng-enter active ng-enter-active">
                <ion-content style="height: 100%">
                    <div class="list" >
                        <div class="item" style="border: 0;padding:15px 0 0 15px">
                            <div style="float: left;width: 100px">
                                <img src="img/youluntu (3).jpg" style="width: 100%">
                            </div>
                            <div style="float: left;margin-left: 20px;width: 40%">
                                <h3 style="white-space: initial;">DELSEY大使U-LITE系列</h3>
                                <div style="font-size: 14px">￥<span style="color: #ff4e00;font-size: 16px">19888</span>起</div>
                                <div style="font-size: 14px">库存123件</div>
                            </div>
                            <a class="button ion-close-circled icon-right" ng-click="closeDetail()" style="background: #fff;float: right;margin-top: -10px"></a>
                        </div>
                        <div class="item" style="border: 0;padding: 5px 15px">
                            <h3>颜色选择</h3>
                            <a style="margin-right: 10px; border: 1px solid #17a7fd;padding: 0px 5px;border-radius:3px ;background:#17a7fd;color: #fff ">白色</a>
                            <a style="margin-right: 10px; border: 1px solid #17a7fd;padding: 0px 5px;border-radius:3px ">白色</a>
                            <a style="border: 1px solid #17a7fd;padding: 0px 5px;border-radius:3px ">白色</a>
                        </div>
                        <div class="item">
                            <h3>尺码大小</h3>
                            <a style="margin-right: 10px; border: 1px solid #17a7fd;padding: 0px 5px;border-radius:3px ;background:#17a7fd;color: #fff ">20寸</a>
                            <a style="margin-right: 10px; border: 1px solid #17a7fd;padding: 0px 5px;border-radius:3px ">24寸</a>
                            <a style="border: 1px solid #17a7fd;padding: 0px 5px;border-radius:3px ">26寸</a>
                        </div>
                        <div class="item">
                            <h3>数量</h3>
                            <div class="date-5-2-3-1">
                                <div class="date-5-2-4"><span>-</span></div>
                                <input class="date-5-2-5" value="0"/>
                                <div class="date-5-2-6"><span>+</span></div>
                            </div>
                        </div>
                    </div>
                </ion-content>
            </ion-modal-view>
        </script>
    </ion-content>

    <div class="bar bar-footer bar-dark" style="padding: 0">
        <div id="homeAcdi" href="#" ng-click="showModal()">
            <i class="ion-ios-telephone"></i></br>
            <span>电话咨询</span>
        </div>

        <div id="homeAcdi1">
            <a href="#tab/order">
                立即预订
            </a>
        </div>
    </div>
</ion-view>


