<ion-view view-title="文本" hide-tabs>
    <div class="bar bar-header">
        <a href="#tab/homeD-a" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
        <h1 class="title">签证信息</h1>
    </div>

    <ion-content class="has-header" style="background: #f3f4f8"  delegate-handle="head">
        <div class="wenbana">
            <p>一、办理大陆居民往来台湾通行证及团队签注所需材料 （团队旅游签注L）</p>
            <p>（客人持以下资料自行到就近的各区县公安局出入境办事大厅办理，受理次日起十个工作日出证）</p>
            <p>1、申请书</p>
            <p>2、两寸白色背景彩色照片一张，贴于申请表上</p>
            <p>3、身份证、户口本原件</p>
            <p>推荐客人登录北京市公安局网站进行预约办证，缩短办证时间，受理次日起八个工作日出证。网址：www.bjgaj.gov.cn</p>
            <br/>
            <br/>
            <p>二、办理大陆居民入台手续所需材料（请在报名时将以下资料交至我社，由我社代办团队旅游入台证）</p>
            <p>1、请用黑色碳素笔完整填写《大陆地区人民来台观光申请书》</p>
            <p>2、两寸白色背景彩色照片2张，其中1张贴在表左上角（台湾移民署对办理入台证的照片有严格的规定，请客人务必按以下要求提供照片）</p>
            <p>（1）请提供一式两张近期（半年内）正面免冠彩色证件照（光面相纸）；</p>
            <p>（2）照片背景颜色为白色；</p>
            <p>（3）黑白照片、经翻拍的照片或采用各种彩色打印机打印的照片不予受理；</p>
        </div>
    </ion-content>

</ion-view>


