<ion-view view-title="站点">
    <div class="bar bar-header" id="soutou">
        <div class="bar bar-header">
            <a href="#atb/home" class="button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
            <h4 style="margin: auto">选择出发的城市</h4>
        </div>
    </div>
    <ion-content class="has-header order"  delegate-handle="head">
        <div class="zhandianinput">
            <label class="item-input-wrapper .calm-bg" style="margin-top: 0px">
                <input type="text" placeholder="豪礼相送">
                <i class="icon ion-search placeholder-icon icon-calm" id="xian"></i>
            </label>
        </div>

        <div class="list zhandianlist">
            <div class="item item-divider muqian"><span>当前</span></div>
            <label class="item item-radio ng-valid">
                <input type="radio" name="radio-group">
                <div class="radio-content">
                    <div class="item-content">
                        <p>北京</p>
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
        </div>

        <div class="list">
            <div class="item item-divider muqian"><span>热门城市</span></div>
            <label class="item item-radio">
                <input type="radio" name="group" checked>
                <div class="radio-content">
                    <div class="item-content">
                        北京
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        北京
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        广州
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        杭州
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
            <label class="item item-radio">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        武汉
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
            <label class="item item-radio ng-valid">
                <input type="radio" name="group">
                <div class="radio-content">
                    <div class="item-content">
                        <p>长沙</p>
                    </div>
                    <i class="radio-icon icon ion-android-radio-button-on"></i>
                </div>
            </label>
        </div>


    </ion-content>
</ion-view>
