
<ion-view view-title="酒店选择">
    <div class="bar bar-header" id="soutou">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content class="has-header order"  delegate-handle="head"style="background: #fff">
    <div class="jiudaintuzi">
        <div class="jiudiantou">
            <i class="ion-location"></i><span class="jiudiandizhi">北京</span>
            <span class="ruzhu">入住 ：<span>2015/12/08</span></span>
            <span class="shangdain">商店 ：<span>2015/12/12</span></span>
        </div>
        <div class="jiudiantu">
            <img src="img/jiudian.jpg" class="jiudiantuimg1">
            <p class="jiudianbiaoti">北京盘古大楼</p>
            <div class="hongxing">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
            </div>
            <p class="jiudianxiangxidizhi">地址 ：<span>北京市北京市北京市北京市北京市北京市北京市北京市北京市</span></p>
            <span class="fangxing">房型选择</span>
        </div>

        <div class="fangxingdiv">
            <form name="jdfrom">

                <label>
                    <div class="dachuang jdchange">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or" ng-click="jdchangeColor()" checked/>
                    </div>
                </label>

                <label>
                    <div class="dachuang1 jdchange">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or" ng-click="jdchangeColor()"/>
                    </div>
                </label>

                <label>
                    <div class="dachuang1 jdchange">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or" ng-click="jdchangeColor()"/>
                    </div>
                </label>
            </form>
        </div>

        <div class="jiudiantu">
            <img src="img/jiudian.jpg" class="jiudiantuimg1">
            <p class="jiudianbiaoti">北京盘古大楼</p>
            <div class="hongxing">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
            </div>
            <p class="jiudianxiangxidizhi">地址 ：<span>北京市北京市北京市北京市北京市北京市北京市北京市北京市</span></p>
            <span class="fangxing">房型选择</span>
        </div>

        <div class="fangxingdiv">
            <form name="jdfrom1">
                <label>
                    <div class="dachuang jdchange1">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or1" ng-click="jdchange1()" checked>
                    </div>
                </label>

                <label>
                    <div class="dachuang1 jdchange1">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or1" ng-click="jdchange1()">
                    </div>
                </label>

                <label>
                    <div class="dachuang1 jdchange1">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or1" ng-click="jdchange1()">
                    </div>
                </label>

            </form>

        </div>

    </div>

    <div class="jiudaintuzi1">
        <div class="jiudiantou">
            <i class="ion-location"></i><span class="jiudiandizhi">北京</span>
            <span class="ruzhu">入住 ：<span>2015/12/08</span></span>
            <span class="shangdain">商店 ：<span>2015/12/12</span></span>
        </div>
        <div class="jiudiantu">
            <img src="img/jiudian.jpg" class="jiudiantuimg1">
            <p class="jiudianbiaoti">北京盘古大楼</p>
            <div class="hongxing">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
            </div>
            <p class="jiudianxiangxidizhi">地址 ：<span>北京市北京市北京市北京市北京市北京市北京市北京市北京市</span></p>
            <span class="fangxing">房型选择</span>
        </div>

        <div class="fangxingdiv">
            <form name="jdfrom2">
                <label>
                    <div class="dachuang jdchange2">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or2" ng-click="jdchange2()" checked>
                    </div>
                </label>

                <label>
                    <div class="dachuang1 jdchange2">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or2" ng-click="jdchange2()">
                    </div>
                </label>

                <label>
                    <div class="dachuang1 jdchange2">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or2"ng-click="jdchange2()">
                    </div>
                </label>
            </form>
        </div>
        <div class="jiudiantu">
            <img src="img/jiudian.jpg" class="jiudiantuimg1">
            <p class="jiudianbiaoti">北京盘古大楼</p>
            <div class="hongxing">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
                <img src="img/hongxing.png" class="jiudiantuimg2">
            </div>
            <p class="jiudianxiangxidizhi">地址 ：<span>北京市北京市北京市北京市北京市北京市北京市北京市北京市</span></p>
            <span class="fangxing">房型选择</span>
        </div>
        <div class="fangxingdiv">
            <form name="jdfrom3">
                <label>
                    <div class="dachuang jdchange3">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or3" checked ng-click="jdchange3()">
                    </div>
                </label>
                <label>
                    <div class="dachuang1 jdchange3">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or3"  ng-click="jdchange3()">
                    </div>
                </label>
                <label>
                    <div class="dachuang1 jdchange3">
                        <span>标准间</span>
                        <span>大床房</span>
                        <span class="fanjianshu">房间数 ：<span>2</span></span>
                        <span class="chajia">差价 ：<span>￥ 1088</span></span>
                        <input type="radio" name="or3"  ng-click="jdchange3()">
                    </div>
                </label>
            </form>

        </div>

    </div>


    </ion-content>

    <div class="bar bar-footer bar-dark" style="padding: 0">
        <a href="#" class="button button-icon orderdi">
            <span class="dizi">
                订单总价 :<span>￥16680</span>

            </span>
        </a>
        <a href="#" class="button button-icon icon orderdi2">
            <span class="orderdi2-1">下一步</span>
        </a>
    </div>

</ion-view>


