<ion-view view-title="">
    <div class="bar bar-subheader" style="top: 0px">
        <div class="bar bar-header">
            <a href="#atb/home" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
            <label class="item-input-wrapper .calm-bg">
                <input type="text" placeholder="A">
                <i class="icon ion-ios-search placeholder-icon icon-calm"id="xian"></i>
            </label>
            <a href=""class="soua"><span>北京</span><i class="ion-chevron-down"></i></a>
        </div>
    </div>

    <ion-content style="top: 45px" delegate-handle="head">

        <div class="list">

            <a class="item" href="#" style="margin-top: 0px">
                <i class="icon ion-ios-location lx-left"></i>
                <span class="lxspan-1">西安</span>&nbsp;,
                <span class="lxspan-2">陕西</span>
                <i class="ion-ios-arrow-right lx-right"></i>
            </a>

            <a class="item" href="#" style="margin-top: 0px">
                <i class="icon ion-ios-location lx-left"></i>
                <span class="lxspan-1">黄山</span>&nbsp;,
                <span class="lxspan-2">安徽</span>
                <i class="ion-ios-arrow-right lx-right"></i>
            </a>

            <a class="item" href="#" style="margin-top: 0px">
                <i class="icon ion-ios-location lx-left"></i>
                <span class="lxspan-1">澳门</span>&nbsp;,
                <span class="lxspan-2">中国</span>
                <i class="ion-ios-arrow-right lx-right"></i>
            </a>

            <a class="item" href="#" style="margin-top: 0px">
                <i class="icon ion-ios-location lx-left"></i>
                <span class="lxspan-1">阿姆斯特丹</span>&nbsp;,
                <span class="lxspan-2">Noord-Holland</span>
                <i class="ion-ios-arrow-right lx-right"></i>
            </a>

        </div>
    </ion-content>
</ion-view>
