<ion-view view-title="我的出团通知" >
<div class="bar bar-header" id="soutou">
    <ion-nav-bar>
        <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
</div>

<ion-content class="has-header" style="background: #f3f4f8;bottom: 0px;" delegate-handle="head" >
    <div class="mynotice-1">
        <a href="#">
            <h4>【世外桃源霞慕尼】法国意大利12日深度游</h4>
            <div class="mynotice-1-1">
                <i class="ion-ios-browsers-outline"></i><span>团号:</span><span>CJ283SDHJ27832</span>
            </div>

            <div class="mynotice-1-2">
                <i class="ion-ios-stopwatch-outline"></i><span>出发时间:</span><span>2016-02-12</span><span class="mynotice-1-2-1">北京出发</span>
            </div>

            <div class="mynotice-1-3">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </a>
    </div>

    <div class="mynotice-1">
        <a href="#">
            <h4>【世外桃源霞慕尼】法国意大利12日深度游</h4>
            <div class="mynotice-1-1">
                <i class="ion-ios-browsers-outline"></i><span>团号:</span><span>CJ283SDHJ27832</span>
            </div>

            <div class="mynotice-1-2">
                <i class="ion-ios-stopwatch-outline"></i><span>出发时间:</span><span>2016-02-12</span><span class="mynotice-1-2-1">北京出发</span>
            </div>

            <div class="mynotice-1-3">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </a>
    </div>

    <div class="mynotice-1">
        <a href="#">
            <h4>【世外桃源霞慕尼】法国意大利12日深度游</h4>
            <div class="mynotice-1-1">
                <i class="ion-ios-browsers-outline"></i><span>团号:</span><span>CJ283SDHJ27832</span>
            </div>

            <div class="mynotice-1-2">
                <i class="ion-ios-stopwatch-outline"></i><span>出发时间:</span><span>2016-02-12</span><span class="mynotice-1-2-1">北京出发</span>
            </div>

            <div class="mynotice-1-3">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </a>
    </div>

    <div class="mynotice-1">
        <a href="#">
            <h4>【世外桃源霞慕尼】法国意大利12日深度游</h4>
            <div class="mynotice-1-1">
                <i class="ion-ios-browsers-outline"></i><span>团号:</span><span>CJ283SDHJ27832</span>
            </div>

            <div class="mynotice-1-2">
                <i class="ion-ios-stopwatch-outline"></i><span>出发时间:</span><span>2016-02-12</span><span class="mynotice-1-2-1">北京出发</span>
            </div>

            <div class="mynotice-1-3">
                <i class="ion-ios-arrow-right"></i>
            </div>
        </a>
    </div>

</ion-content>

</ion-view>


