<ion-view view-title="订单支付失败" >
    <div class="bar bar-header" id="soutou">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>

    <ion-content class="ordererr">
        <div class="ordererr-1">
            <img src="img/ordererr.png"/>
            <br>
            <span class="ordererr-1-span1">很抱歉</span><span class="ordererr-1-span2">，订单支付失败</span>
            <div class="ordererr-1-2">
                <span>点击</span><a href="#">返回</a><span>重新支付！</span>
            </div>
        </div>

        <div class="ordererr-2">
            <div class="ordererr-2-1">
                <span><a href="#">返回首页</a></span>
            </div>

            <div class="ordererr-2-2">
                <span><a href="#">返回会员中心</a></span>
            </div>
        </div>
    </ion-content>

</ion-view>


