
<ion-view view-title="服务选择">
    <div class="bar bar-header" id="soutou">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>

    <ion-content class="has-header order" delegate-handle="head">

    <div class="selserver-1">
        <div class="selserver-1-1">
            <div class="selserver-1-1-1">
                <img src="img/homed-a-3.png"/>
                <span class="selserver-2-1-1-span1">航班信息</span>
                <span class="selserver-1-1-1-span"><span>删除</span><i class="ion-ios-close-outline"></i></span>
            </div>

            <div class="selserver-1-1-2">
                <a href="#">
                    <span class="">更换航班</span>
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>

        <div class="selserver-1-2">

            <div class="selserver-1-2-1">

                <div class="chufa">
                    <span>06:45</span>
                    <br>
                    <span>北京</span>
                </div>

                <div class="zhongjian">
                    <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                    <div class="zhongjian-a">
                        <div class="zhongjian-1"></div>
                        <div class="zhongjian-2"></div>
                    </div>

                    <div class="zhongjian-5">去程</div>

                    <div class="zhongjian-b">
                        <div class="zhongjian-3"></div>
                        <div class="zhongjian-4"></div>
                    </div>

                </div>

                <div class="zhongdian">
                    <span>10:45</span>
                    <br>
                    <span>巴厘岛</span>
                </div>
            </div>

            <div class="selserver-1-2-2">

                <div class="chufa">
                    <span>06:45</span>
                    <br>
                    <span>北京</span>
                </div>

                <div class="zhongjian">
                    <p>南方航空&nbsp;&nbsp;&nbsp;直飞</p>

                    <div class="zhongjian-a">
                        <div class="zhongjian-1"></div>
                        <div class="zhongjian-2"></div>
                    </div>

                    <div class="zhongjian-5">返程</div>

                    <div class="zhongjian-b">
                        <div class="zhongjian-3"></div>
                        <div class="zhongjian-4"></div>
                    </div>

                </div>

                <div class="zhongdian">
                    <span>10:45</span>
                    <br>
                    <span>巴厘岛</span>
                </div>
            </div>
        </div>
    </div>

    <div class="selserver-2">
        <div class="selserver-2-1">
            <div class="selserver-2-1-1">
                <img src="img/homed-a-6.png.png"/>
                <span class="selserver-2-1-1-span1">酒店信息</span>
                <span class="selserver-1-1-1-span"><span>删除</span><i class="ion-ios-close-outline"></i></span>
            </div>

            <div class="selserver-2-1-2">
                <a href="#">
                    <span class="">选择酒店</span>
                    <i class="ion-ios-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="selserver-3">
        <ul class="selserver-ul">
            <div class="selserver-2-2">
                <span  class="selserver-2-2-1">北京</span>
                <span  class="selserver-2-2-3">2015/12/08</span><span  class="selserver-2-2-2">离店 ：</span>
                <span  class="selserver-2-2-3-1">2015/12/08</span><span  class="selserver-2-2-2-1">入住 ：</span>

            </div>
            <li class="selserver-3-3">
                <img class="selserver-3-1" src="img/youluntu (3).jpg"/>
                <ul class="selserver-3-3-ul" >
                    <li><span class="selserver-3-1-1">北京京伦饭店</span></li>
                    <li><img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2"></li>
                    <li><span class="selserver-3-1-2">地址:</span><span class="selserver-3-1-2">北京市北京市</span></li>
                    <li><span class="selserver-3-1-2-1">不包含早餐</span></li>
                </ul>

                <div class="selserver-3-2">
                    <span>标准间</span>
                    <br>
                    <span>大/双床</span>
                    <br>
                    <span class="selserver-3-2-1">￥688</span>
                </div>
            </li>
            </li>

        </ul>
        <ul class="selserver-ul">
            <div class="selserver-2-2">
                <span  class="selserver-2-2-1">北京</span>
                <span  class="selserver-2-2-3">2015/12/08</span><span  class="selserver-2-2-2">离店 ：</span>
                <span  class="selserver-2-2-3-1">2015/12/08</span><span  class="selserver-2-2-2-1">入住 ：</span>

            </div>
            <li class="selserver-3-3">
                <img class="selserver-3-1" src="img/youluntu (3).jpg"/>
                <ul class="selserver-3-3-ul" >
                    <li><span class="selserver-3-1-1">北京京伦饭店</span></li>
                    <li><img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2">
                        <img src="img/hongxing.png" class="jiudiantuimg2"></li>
                    <li><span class="selserver-3-1-2">地址:</span><span class="selserver-3-1-2">北京市北京市</span></li>
                    <li><span class="selserver-3-1-2-1">不包含早餐</span></li>
                </ul>

                <div class="selserver-3-2">
                    <span>标准间</span>
                    <br>
                    <span>大/双床</span>
                    <br>
                    <span class="selserver-3-2-1">￥688</span>
                </div>
            </li>
            </li>

        </ul>
    </div>

    <div class="selserver-4">
        <div class="selserver-4-1">
            <img src="img/qian-(4)_17.png"/>
            <span>游览推荐选择</span>
        </div>

        <div class="selserver-4-2">
            <ul class="selserver-4-2ul">
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>
            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(0)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(0)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-4-2">
            <ul class="selserver-4-2ul">
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>
            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(1)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(1)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-4-2"  ng-show="slec.show_0">
            <ul>
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-1">使用日期 : </span><span class="selserver-4-2-1">2015年12月9日>></span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>


            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(2)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(2)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-5" ng-click="slecshow(0)">
            <a href="#">查看更多</a>
        </div>
    </div>

    <div class="selserver-4">
        <div class="selserver-4-1">
            <img src="img/qian-(4)_17.png"/>
            <span>游览推荐选择</span>
        </div>

        <div class="selserver-4-2">
            <ul>
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li ng-controller="ticketDateController" ng-click="showDate()"><span class="selserver-4-2-1">使用日期 : </span><span class="selserver-4-2-1">2015年12月9日>></span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>

            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(3)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(3)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-4-2">
            <ul>
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-1">使用日期 : </span><span class="selserver-4-2-1">2015年12月9日>></span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>

            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(4)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(4)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>
        <div class="selserver-4-2" ng-show="slec.show_1">
            <ul>
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-1">使用日期 : </span><span class="selserver-4-2-1">2015年12月9日>></span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>


            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(5)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(5)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-5" ng-click="slecshow(1)">
            <a href="#">查看更多</a>
        </div>
    </div>

    <div class="selserver-4">
        <div class="selserver-4-1">
            <img src="img/qian-(4)_17.png"/>
            <span>游览推荐选择</span>
        </div>

        <div class="selserver-4-2">
            <ul class="selserver-4-2ul">
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>


            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(6)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(6)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-4-2">
            <ul class="selserver-4-2ul">
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>

                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>


            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(7)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(7)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-4-2" ng-show="slec.show_2">
            <ul>
                <li><span>【门票】巴厘岛海神庙景区门票</span></li>
                <li><span class="selserver-4-2-1">使用日期 : </span><span class="selserver-4-2-1">2015年12月9日>></span></li>
                <li><span class="selserver-4-2-2-1">单价 ：</span><span class="selserver-4-2-2">￥688</span></li>
            </ul>


            <div class="selserver-4-5-1">
                <div class="selserver-4-3-4">数量</div>

                <div class="selserver-4-3-0">
                    <div ng-click="subnum(8)" class="selserver-4-3-1"><span>-</span></div>
                    <div class="selserver-4-3-2">0</div>
                    <div ng-click="addnum(8)" class="selserver-4-3-3"><span>+</span></div>
                </div>
            </div>
        </div>

        <div class="selserver-5" ng-click="slecshow(2)">
            <a href="#">查看更多</a>
        </div>
    </div>
    <script id="date.html" type="text/ng-template">
        <ion-modal-view class="modalBb slide-in-up ng-enter active ng-enter-active">
            <ion-header-bar class="bar-positive">
                <a class="button button-icon icon ion-ios-arrow-left"style="margin-left: 50px;"></a>
                <h4 class="title"style="text-align: center">2015-12-12</h4>
                <a class="button button-icon icon ion-ios-arrow-right"style="margin-right: 50px"></a>

            </ion-header-bar>
            <ion-content style="height: 100%">
                <p style="margin-left: 15px;color: #6ab32c;margin-top: 10px">绿色代表可选日期</p>
                <div class="time-warp" style="padding-bottom: 10px">
                    <table id="time">
                        <thead>
                        <tr class="week">
                            <td class="first">日</td>
                            <td>一</td>
                            <td>二</td>
                            <td>三</td>
                            <td>四</td>
                            <td>五</td>
                            <td class="last">六</td>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- past的过期的日期 select是选中样式 -->
                        <tr class="day">
                            <td class="trl trr trb past">
                                <p class="date-day-list-day"></p>
                            </td>
                            <td class="trr trb past">
                                <p class="date-day-list-day"></p>
                            </td>
                            <td class="trr trb past">
                                <p class="date-day-list-day"></p>
                            </td>
                            <td class="trr trb past">
                                <p class="date-day-list-day"></p>
                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">1</p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">2</p>

                            </td>
                            <td class="trb select">
                                <p class="date-day-list-day">3</p>

                            </td>
                        </tr>
                        <tr class="day">
                            <td class="trl trr trb">
                                <p class="date-day-list-day">4</p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">5</p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">6</p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">7</p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">8</p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day">9</p>

                            </td>
                            <td class="trb">
                                <p class="date-day-list-day">10</p>

                            </td>
                        </tr>
                        <tr class="day">
                            <td class="trl trr trb">
                                <p class="date-day-list-day"><span class="riqi">11</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>12</span></p>

                            </td>
                            <td class="trr trb immediate">
                                <p class="date-day-list-day"><span>13</span></p>


                            </td>
                            <td class="trr trb immediate">
                                <p class="date-day-list-day"><span>14</span></p>


                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>15</span></p>


                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>16</span></p>

                            </td>
                            <td class="trb">
                                <p class="date-day-list-day"><span>17</span></p>

                            </td>
                        </tr>
                        <tr class="day">
                            <td class="trl trr trb">
                                <p class="date-day-list-day"><span>18</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>19</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>20</span></p>

                            </td>
                            <td class="trr trb immediate">
                                <p class="date-day-list-day"><span>21</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>22</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>23</span></p>

                            </td>
                            <td class="trb">
                                <p class="date-day-list-day"><span>24</span></p>

                            </td>
                        </tr>
                        <tr class="day">
                            <td class="trl trr trb">
                                <p class="date-day-list-day"><span>25</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>26</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>27</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>28</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>29</span></p>

                            </td>
                            <td class="trr trb">
                                <p class="date-day-list-day"><span>30</span></p>

                            </td>
                            <td class="trb">
                                <p class="date-day-list-day"><span>31</span></p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="button-bar">
                    <a class="button"ng-click="closeModal()">取消</a>
                    <a class="button button-outline button-calm">确定</a>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    </ion-content>


    <div class="bar bar-footer bar-dark">
        <div id="youhuidi"class="button button-icon "  ng-controller="touristNumController" ng-click="showDate()">
           <span class="dizi">
                订单总价 :<span>￥16680</span>
            </span>
        </div>
        <div id="youhuidi1"class="button button-icon icon " ng-click="ewm(2)">
            <button class="jiagequjain">下一步</button>
        </div>
    </div>
</ion-view>


