<ion-view>
    <div class="bar bar-header" style="border-bottom: 1px solid #e2e2e2">
        <a href="#tab/home" class="button button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
        <h4 style="margin: auto">产品详情</h4>
    </div>
    <ion-content class="has-header" style="background: #f3f4f8;bottom: 0px" delegate-handle="head">
        <div data-role="page" id="fwtk">

            <!-- /header -->
            <div role="main" class="ui-content">
                <div class="vi_1">
                    <p>主视觉</p>
                </div>
                <div class="station_1"><a href="" class="STlink">北京</a><a href="" class="STlink">乌鲁木齐</a><a href="" class="STlink">成都</a><a href="" class="STlink">北京</a><a href="" class="STlink">乌鲁木齐</a><a href="" class="STlink">成都</a><a href="" class="STlink">深圳</a></div>
                <div class="title_1">
                    <p>通栏</p>
                </div>
                <div class="con_1">
                    <p class="p_1">【澳世盛宴】</p>
                    <p class="p_2">阳光SPA-醉享南澳9日生态之旅</p>
                    <p class="p_3"><新航，阿德莱德+汉多夫小镇+芭罗莎+袋鼠鸟+海豹湾+蔡斯国家公园></p>
                    <div class="img_1"><div class="img_1BG"><h1>已售罄</h1></div></div>
                    <p class="p_4">出发城市：北京</p>
                    <br>
                    <p class="p_5">5月21日</p>
                    <p class="p_7">活动价：17800</p>
                    <br>
                    <p class="p_6">原价：18800 	<span class="line"></span></p>

                </div>
                <div class="con_1">
                    <p class="p_1">【澳世盛宴】秒杀</p>
                    <p class="p_2">阳光SPA-醉享南澳9日生态之旅</p>
                    <p class="p_3"><新航，阿德莱德+汉多夫小镇+芭罗莎+袋鼠鸟+海豹湾+蔡斯国家公园></p>
                    <div class="img_1"></div>
                    <p class="p_4">出发城市：北京</p>
                    <br>
                    <p class="p_5">5月21日</p>
                    <p class="p_7">秒杀价：17800</p>
                    <br>
                    <p class="p_6">原价：18800 	<span class="line"></span></p>

                    <br>
                    <p class="p_5">剩余时间:这里是秒杀控件的预留位置</p>
                    <br>
                    <p class="p_5">剩余名额：3人</p>
                </div>
                <div class="con_1">
                    <p class="p_1">【澳世盛宴】秒杀</p>
                    <p class="p_2">阳光SPA-醉享南澳9日生态之旅</p>
                    <p class="p_3"><新航，阿德莱德+汉多夫小镇+芭罗莎+袋鼠鸟+海豹湾+蔡斯国家公园></p>
                    <div class="img_1"></div>
                    <p class="p_4">出发城市：北京</p>
                    <p class="p_8">预售价：17800</p>
                    <br>
                    <p class="p_5">5月21日</p>
                    <p class="p_9">截止日期：2015年10月10日</p>
                    <br>
                    <p class="p_6">原价：18800 	<span class="line"></span></p>
                    <br>

                </div>
                <div style="padding:10px;line-height:25px;color:#ff0000">
                    <h3 style="padding:10px 0px;"> 活动规则</h3>
                    <p>这里是文字部分是文字部分是文字部分是文字部分是文字部分是文字部分</p>
                    <p>这里是文字部分</p>
                    <p>这里是文字部分</p>
                    <p>这里是文字部分</p>
                    <p>这里是文字部分</p>
                </div>
            </div>
            <!-- /content -->
        </div>
        <!-- /page -->
    </ion-content>


</ion-view>
