<ion-view  view-title="我的收藏">
    <div class="bar bar-header">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content class="has-header" style="background: #f3f4f8;bottom: 0px" delegate-handle="head">
        <div class="shoucang">
            <div class="list">
                <a class="item item-thumbnail-left" href="#" id="shoucanga">
                    <img src="img/shoucang.jpg" id="shoucangimg">
                    <div>
                        <h2>香格里拉</h2>
                        <span>酒店</span>
                    </div>
                    <i class="ion-ios-close-outline"></i>
                </a>
                <a class="item item-thumbnail-left" href="#" id="shoucanga">
                    <img src="img/shoucang.jpg" id="shoucangimg">
                    <div>
                        <h2>香港迪士尼乐园</h2>
                        <span>旅游用品</span>
                    </div>
                    <i class="ion-ios-close-outline"></i>
                </a>
                <a class="item item-thumbnail-left" href="#" id="shoucanga">
                    <img src="img/shoucang.jpg" id="shoucangimg">
                    <div>
                        <h2>大连五晚一日游</h2>
                        <span>国内游</span>
                    </div>
                    <i class="ion-ios-close-outline"></i>
                </a>
                <a class="item item-thumbnail-left" href="#" id="shoucanga">
                    <img src="img/shoucang.jpg" id="shoucangimg">
                    <div>
                        <h2>韩国签证</h2>
                        <span>签证</span>
                    </div>
                    <i class="ion-ios-close-outline"></i>
                </a>
                <a class="item item-thumbnail-left" href="#" id="shoucanga">
                    <img src="img/shoucang.jpg" id="shoucangimg">
                    <div>.
                        <h2>马尔代夫两日游</h2>
                        <span>出境游</span>
                    </div>
                    <i class="ion-ios-close-outline"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
