<ion-view  view-title="我的私人订制">
    <div class="bar bar-header" style="border-bottom: 1px solid #e2e2e2">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content delegate-handle="head" class="has-header" style="background: #f3f4f8;bottom: 44px" >
        <div class="xingqian">
            <ul>
                <span class="yichuli">已处理</span>
                <li>类型 ：<span class="xingqianspan">个人定制</span></li>
                <li>出发人数 ：<span class="xingqianspan">20</span></li>
                <li>出发城市 ：<span class="xingqianspan">北京</span></li>
                <li>出发日期 ：<span class="xingqianspan">2015年11月11日</span></li>
                <li>返回日期：<span class="xingqianspan">2015年11月11日</span></li>
                <li>住宿酒店星级：<span class="xingqianspan">五星级酒店</span></li>
                <li>定制产品类型：<span class="xingqianspan">出境独立成团</span></li>
                <li>回访方式：<span class="xingqianspan">电话</span></li>
                <li>其他要求：<span class="xingqianspan">头等舱，无烟房，全程无自费，头等舱等</span></li>
                <li>提交时间：<span class="xingqianspan">2015年11月11日  16:42:08</span></li>
            </ul>
        </div>
        <div class="xingqian">
            <ul>
                <span class="yichuli">已处理</span>
                <li>类型 ：<span class="xingqianspan">个人定制</span></li>
                <li>出发人数 ：<span class="xingqianspan">20</span></li>
                <li>出发城市 ：<span class="xingqianspan">北京</span></li>
                <li>出发日期 ：<span class="xingqianspan">2015年11月11日</span></li>
                <li>返回日期：<span class="xingqianspan">2015年11月11日</span></li>
                <li>住宿酒店星级：<span class="xingqianspan">五星级酒店</span></li>
                <li>定制产品类型：<span class="xingqianspan">出境独立成团</span></li>
                <li>回访方式：<span class="xingqianspan">电话</span></li>
                <li>其他要求：<span class="xingqianspan">头等舱，无烟房，全程无自费，头等舱等</span></li>
                <li>提交时间：<span class="xingqianspan">2015年11月11日  16:42:08</span></li>
            </ul>
        </div>


    </ion-content>
    <div class="bar bar-footer bar-dark" style="padding: 0;">
        <a class="jihuodi"ng-click="orderPrice()">提交新计划</a>
    </div>
</ion-view>
