<ion-view view-title="爱旅行" xmlns="http://www.w3.org/1999/html">
    <div class="bar bar-header" id="soutou">
        <div class="bar bar-header" style="background: #ffffff">
            <a href="#atb/home" class="button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
            <!--<div style="width: 85%;text-align: center;margin-top: 5px">会员公告</div>-->
            <h4 style="width: 85%;text-align: center;margin-top: 7px">爱旅行</h4>
            <a href="#atb/home" class="button-icon icon ion-ios-home"style="color: #15a6fd;margin-right: 15px"></a>
        </div>
    </div>

    <ion-content class="stage">
        <div class="stage-1">
            <div class="stage-1-1 stagecolor" ng-click="stagechange(0)">最新</div>
            <div class="stage-1-2 stagecolor" ng-click="stagechange(1)">最热</div>
        </div>

        <div class="stage-2">
            <div class="stage-2-1">
                <a href="#tab/stagedetail"/>
                    <img class="stage-2-2" src="img/Lovetravel-1.jpg"/>
                    <img class="stage-2-3" src="img/stage.png"/>
                    <div class="stage-2-3-1">第123期</div>
                    <h5>《时光旅行-我梦境中的撒哈拉》</h5>
                </a>

                <div class="stage-2-4" ng-click="lovecomment()">
                    <img src="img/stage-2.png"/><span>评论</span><span>(12)</span>
                </div>

                <div class="stage-2-5" ng-click="lovepraise()">
                    <img src="img/stage-3.png"/><span>点赞</span><span>(36)</span>
                </div>

                <div class="stage-2-6">
                    <span>2015-12-16</span>
                </div>
            </div>
            <div class="stage-2-1">
                <a href="#tab/stagedetail"/>
                    <img class="stage-2-2" src="img/Lovetravel-1.jpg"/>
                    <img class="stage-2-3" src="img/stage.png"/>
                    <div class="stage-2-3-1">第123期</div>
                    <h5>《时光旅行-我梦境中的撒哈拉》</h5>
                </a>

                <div class="stage-2-4" ng-click="lovecomment()">
                    <img src="img/stage-2.png"/><span>评论</span><span>(12)</span>
                </div>

                <div class="stage-2-5" ng-click="lovepraise()">
                    <img src="img/stage-3.png"/><span>点赞</span><span>(36)</span>
                </div>

                <div class="stage-2-6">
                    <span>2015-12-16</span>
                </div>
            </div>
            <div class="stage-2-1">
                <a href="#tab/stagedetail"/>
                    <img class="stage-2-2" src="img/Lovetravel-1.jpg"/>
                    <img class="stage-2-3" src="img/stage.png"/>
                    <div class="stage-2-3-1">第123期</div>
                    <h5>《时光旅行-我梦境中的撒哈拉》</h5>
                </a>

                <div class="stage-2-4" ng-click="lovecomment()">
                    <img src="img/stage-2.png"/><span>评论</span><span>(12)</span>
                </div>

                <div class="stage-2-5" ng-click="lovepraise()">
                    <img src="img/stage-3.png"/><span>点赞</span><span>(36)</span>
                </div>

                <div class="stage-2-6">
                    <span>2015-12-16</span>
                </div>
            </div>
            <div class="stage-2-1">
                <a href="#tab/stagedetail"/>
                    <img class="stage-2-2" src="img/Lovetravel-1.jpg"/>
                    <img class="stage-2-3" src="img/stage.png"/>
                    <div class="stage-2-3-1">第123期</div>
                    <h5>《时光旅行-我梦境中的撒哈拉》</h5>
                </a>

                <div class="stage-2-4" ng-click="lovecomment()">
                    <img src="img/stage-2.png"/><span>评论</span><span>(12)</span>
                </div>

                <div class="stage-2-5" ng-click="lovepraise()">
                    <img src="img/stage-3.png"/><span>点赞</span><span>(36)</span>
                </div>

                <div class="stage-2-6">
                    <span>2015-12-16</span>
                </div>
            </div>

        </div>
    </ion-content>

</ion-view>


