<ion-view view-title="爱旅行" xmlns="http://www.w3.org/1999/html">
    <div class="bar bar-header" id="soutou">
        <div class="bar bar-header" style="background: #ffffff">
            <a href="#atb/home" class="button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
            <h4 style="width: 85%;text-align: center;margin-top: 7px">爱旅行</h4>
            <a href="#atb/home" class="button-icon icon ion-ios-home"style="color: #15a6fd;margin-right: 15px"></a>
        </div>
    </div>

    <ion-content class="stagedetail">

        <div class="stagedet-1">
            <h4 class="stagedet-1-1">长滩岛上的悠闲假期</h4>
            <br/>
            <span class="stagedet-1-3">第267期</span><span class="stagedet-1-4">2015年12月16日</span>
            <br>
            <p class="stagedet-1-3">关键词:
            <span class="stagedet-1-2">长滩岛</span>
            <span class="stagedet-1-2">菲律宾</span>
            <span class="stagedet-1-2">马尼索</span>
            <span class="stagedet-1-2">热带雨林</span>
            <br>
            <span class="stagedet-1-2">白色沙滩</span>
            <span class="stagedet-1-2">世界上最细的沙滩</span></p>
        </div>
        <div style="height: 10px;background: #f3f4f8;padding-top: 6px"></div>

        <div class="stagedet-2">
            <div class="stagedet-2-1">
                <p>来到长沙岛的第一天，早起，头顶就是大片乌云，乌云来的快，走的也快，一阵暴雨之后，立刻艳阳高照，一阵暴雨之后，立刻艳阳高照一</p>
            </div>

            <div class="stagedet-2-2">
                <img src="img/stagedetail-1.jpg"/>
            </div>

            <div class="stagedet-2-1 stadeip">
                <p>来到长沙岛的第一天，早起，头顶就是大片乌云，乌云来的快，走乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快的也快，一阵暴雨之后，立刻艳阳高照，一阵暴雨之后，立刻艳阳高照一</p>
            </div>

            <div class="stagedet-2-2">
                <img src="img/stagedetail-2.jpg"/>
            </div>

            <div class="stagedet-2-2">
                <img src="img/stagedetail-3.jpg"/>
            </div>

            <div class="stagedet-2-1 stadeip">
                <p>来到长沙岛的第一天，早起，头顶就是大片乌云，乌云来的快，走乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快的也快，一阵暴雨之后，立刻艳阳高照，一阵暴雨之后，立刻艳阳高照一</p>
            </div>

            <div class="stagedet-2-2">
                <img src="img/stagedetail-4.jpg"/>
            </div>

            <div class="stagedet-2-1 stadeip">
                <p>来到长沙岛的第一天，早起，头顶就是大片乌云，乌云来的快，走乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快乌云来的快的也快，一阵暴雨之后，立刻艳阳高照，一阵暴雨之后，立刻艳阳高照一</p>
            </div>

        </div>

        <div class="stagedet-3">

            <div class="stagedet-3-1">
                <div class="stagedet-3-1-1">全部评论</div>
                <div class="stagedet-3-1-3">
                    <img src="img/stagedetail-6.jpg"/>

                    <span class="stagedet-3-1-5">点赞</span>

                    (<span class="stagedet-3-1-4">12</span>)
                </div>
                <div class="stagedet-3-1-2" ng-click="plhide()">
                    <img src="img/stagedetail-7.jpg"/>

                    <span class="stagedet-3-1-5">评论</span>
                    (<span class="stagedet-3-1-4">12</span>)
                </div>
            </div>

            <div class="stagedet-3-2" ng-show="stadet.show">

                <input type="text"/>
                <div class="stagedet-3-2-1" ng-click="quqeding()">
                    <span>确定</span>
                </div>
            </div>

        </div>

        <div class="stagedet-4">
            <div class="stagedet-4-1 stagedethei">
                <img class="stagedet-4-1-img1" src="img//stagedetail-5.jpg"/>

                <div class="stagedet-4-1-div2">

                    <span class="stagedet-4-1-span1">ahq</span>
                    <p>人生若只如初见，何事秋风悲画扇。</p>
                    <span class="stagedet-4-1-span2">2小时前</span>

                    <div class="stagedet-4-a">
                        <span class="stagedet-4-1-span1">国旅在线：</span>回复<span class="stagedet-4-1-span1">aph:</span>
                        <span>真的还不错哦！</span>
                        <br>
                        <span class="stagedet-4-1-span2">1小时前</span>
                    </div>
                </div>

                <div class="stagedet-4-1-div1">
                    <img src="img/stagedetail-8.jpg">
                    <span class="stagedet-4-1-span3">回复</span>
                </div>
            </div>

            <div class="stagedet-4-1">
                <img class="stagedet-4-1-img1" src="img/stagedetail-5.jpg"/>
                <div class="stagedet-4-1-div2">
                    <span class="stagedet-4-1-span1">ahq</span>
                    <p>人生若只如初见，何事秋风悲画扇。</p>
                    <span class="stagedet-4-1-span2">2小时前</span>
                </div>
                <div class="stagedet-4-1-div1">
                    <img src="img/stagedetail-8.jpg">
                    <span class="stagedet-4-1-span3">回复</span>
                </div>
            </div>
        </div>

        <div class="stagedet-5">
            <div class="stagedet-5-2">
                <span class="stagedet-5-1">|&nbsp;&nbsp;相关推荐</span>
            </div>
            <div class="soulie1">
                <div class="soulie1img" >
                    <div class="soulie1img1" ><img src="img/biaoqian (3).png"></div>
                    <img  class="soulie1img2" src="img/sousuotu (3).jpg">
                </div>
                <div class="soulie1div">
                    <p>伊斯坦布尔8日深度游转土耳其，全程风情特色5星酒店</p>
                    <div><img src="img/qian (3).png" class="imgda">
                        <span class="Dieer215">2015</span>
                        <span class="Dieer216">11</span>
                        <span class="Dieer217">25</span>
                    </div>
                    <p><span>北京出发</span><span class="souliespan3">起/人</span><span class="souliespan2">￥15688</span></p>
                </div>
            </div>
            <div class="soulie1">
                <div class="soulie1img" >
                    <div class="soulie1img1" ><img src="img/biaoqian (1).png"></div>
                    <img  class="soulie1img2" src="img/sousuotu (4).jpg">
                </div>
                <div class="soulie1div">
                    <p>伊斯坦布尔8日深度游转土耳其，全程风情特色5星酒店</p>
                    <div><span class="imgxiao">优惠券</span><span class="imgxiao">优惠券</span></div>
                    <p><span>北京出发</span><span class="souliespan3">起/人</span><span class="souliespan2">￥15688</span></p>
                </div>
            </div>
        </div>
    </ion-content>

</ion-view>


