<ion-view view-title="会员公告" >
    <div class="bar bar-header">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>

<ion-content   class="has-header" style="background: #f3f4f8;bottom: 0px;" delegate-handle="head">
    <div class="vipann-1">
        <a href="#">
            <h4>工行尊享，刷卡立减优惠</h4>
            <span class="vipann-1-1">2016-02-12</span>
            <span class="vipann-1-2">08:50</span>
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>

    <div class="vipann-1">
        <a href="#">
            <h4>中国银行信用卡，"带你去环游 玩转五大洲"</h4>
            <span class="vipann-1-1">2016-02-12</span>
            <span class="vipann-1-2">08:50</span>
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>

    <div class="vipann-1">
        <a href="#">
            <h4>盛夏惠享季，绚丽连连看</h4>
            <span class="vipann-1-1">2016-02-12</span>
            <span class="vipann-1-2">08:50</span>
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>

    <div class="vipann-1">
        <a href="#">
            <h4>刷法兴卡，刷卡立减优惠</h4>
            <span class="vipann-1-1">2016-02-12</span>
            <span class="vipann-1-2">08:50</span>
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>

    <div class="vipann-1">
        <a href="#">
            <h4>刷法兴卡，刷卡立减优惠</h4>
            <span class="vipann-1-1">2016-02-12</span>
            <span class="vipann-1-2">08:50</span>
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>

    <div class="vipann-1">
        <a href="#">
            <h4>刷法兴卡，刷卡立减优惠</h4>
            <span class="vipann-1-1">2016-02-12</span>
            <span class="vipann-1-2">08:50</span>
            <i class="ion-ios-arrow-right"></i>
        </a>
    </div>
</ion-content>

</ion-view>


