<ion-view view-title="爱旅行" xmlns="http://www.w3.org/1999/html">
    <div class="bar bar-header" id="soutou">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>

    <ion-content class="vipreg" >
        <div class="vipreg-1">
            <img src="img/vipreg-3.png"/>
        </div>
        <div class="vipreg3">
            <img src="img/ordersuc.png"/>
            <br>
            <span class="vipreg3span1">恭喜您</span><span class="vipreg3span2">，已成为国旅会员</span>
            <p class="vipreg3p2">点击<span>前往首页</span>开启您的精彩旅程</p>
        </div>



    </ion-content>
</ion-view>


