<ion-view view-title="爱旅行" xmlns="http://www.w3.org/1999/html">
    <div class="bar bar-header" id="soutou">
        <div class="bar bar-header" style="background: #ffffff">
            <a href="#atb/home" class="button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
            <h4 style="width: 85%;text-align: center;margin-top: 7px">会员注册</h4>
        </div>
    </div>

    <ion-content class="vipreg">
        <div class="vipreg-1">
            <img src="img/vipreg-2.png"/>
        </div>
        <label form="tianxiemima1">
            <div class="vipreg-2-2">
                <input type="text" placeholder="请输入密码6-20位" name="tianxiemima1" id="tianxiemima1">
            </div>
        </label>
        <label form="tianxiemima2">
        <div class="vipreg-2-2">
            <input type="text" placeholder="请再次输入密码" name="tianxiemima2" id="tianxiemima2">
        </div>
        </label>
    </ion-content>

    <div class="ordersucdi">
        <div class="ordersucdi-1" ng-click="ordersucancenl()">
            <span>取消</span>
        </div>

        <div class="ordersucdi-2">
            <a href="#tab/vipreg3">确认</a>
        </div>
    </div>

</ion-view>


