<ion-view  view-title="我的行前说明会">
    <div class="bar bar-header" style="border-bottom: 1px solid #e2e2e2">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content delegate-handle="head" class="has-header" style="background: #f3f4f8;bottom: 0px" >
        <div class="xingqian">
            <ul>
                <li><span>团名称 ：</span><span class="xingqianspan">xxxx活动</span></li>
                <li><span>出发日期 ：</span><span class="xingqianspan">2016-07-03</span></li>
                <li><span>行前说明会时间 ：</span><span class="xingqianspan">7月3号上午0:00</span></li>
                <li><span>行前说明会地点 ：</span><span class="xingqianspan">8层801</span></li>
                <li><span>行前说明会主持人：</span><span class="xingqianspan">张三</span></li>
            </ul>
        </div>
        <div class="xingqian">
            <ul>
                <li><span>团名称 ：</span><span class="xingqianspan">xxxx活动</span></li>
                <li><span>出发日期 ：</span><span class="xingqianspan">2016-07-03</span></li>
                <i class="ion-chevron-down"></i>
            </ul>
        </div>
        <div class="xingqian">
            <ul>
                <li><span>团名称 ：</span><span class="xingqianspan">xxxx活动</span></li>
                <li><span>出发日期 ：</span><span class="xingqianspan">2016-07-03</span></li>
                <i class="ion-chevron-down"></i>
            </ul>
        </div>
    </ion-content>
</ion-view>
