<ion-view view-title="爱旅行" xmlns="http://www.w3.org/1999/html">
    <div class="bar bar-header" id="soutou">
        <div class="bar bar-header" style="background: #ffffff">
            <a href="#tab/home" class="button-icon icon ion-ios-arrow-left"style="color: #15a6fd"></a>
            <h4 style="width: 85%;text-align: center;margin-top: 7px">修改联系人</h4>
        </div>
    </div>
    <ion-content class="vipreg">
        <div class="vipreg-1">
            <img src="img/vipreg-1.png"/>
        </div>

        <div class="xiugai">
            <span class="xiugai-1">手机号</span>
            <input type="text" placeholder="1302320210">
            <i class="ion-compose"></i>
            <span class="xiugai-1-1">修改</span>
        </div>
        <div class="xiugai">
            <span class="xiugai-1">姓名</span>
            <input type="text" placeholder="济钢">
        </div>
        <div class="xiugai">
            <span class="xiugai-1">邮箱</span>
            <input type="text" placeholder="5325612651@QQ.com">
        </div>

    </ion-content>

    <div class="ordersucdi">
        <div class="ordersucdi-1" ng-click="ordersucancenl()">
            <span>取消</span>
        </div>

        <div class="ordersucdi-2">
            <a href="">确认</a>
        </div>
    </div>

</ion-view>


