<ion-view  view-title="我的优惠券">
    <div class="bar bar-header">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content delegate-handle="head" class="has-header" style="background: #f3f4f8" >
        <div class="youhuiquanjihuo">
            <input type="text" placeholder=" 请输入优惠券领取码：">
        </div>
    </ion-content>
    <div class="bar bar-footer bar-dark" style="padding: 0;">
        <a class="jihuodi"ng-click="orderPrice()">激活</a>
    </div>
</ion-view>
