<ion-view view-title="常用旅客">
    <div class="bar bar-header">
        <ion-nav-bar>
            <ion-nav-back-button class="button-icon ion-ios-arrow-left dingdan">
                返回
            </ion-nav-back-button>
        </ion-nav-bar>
    </div>
    <ion-content class="zenjiachangyong">
        <div class="zengjia">
            <a href="#tab/orderA" class="item item-icon-right">
                <i class="icon ion-ios-plus-outline"></i>
                新增常用联系人
            </a>
            <div class="item item-icon-right">
                <span class="shangai1">删除</span>
                <span class="shangai"><a href="#tab/xiugai">修改</a></span>
                <input type="radio" checked class="zengjiainput1" name="xuanze" id="zengjiainput11"><label for="zengjiainput11">
                <span class="zengjiaspan">刘德华</span></label>
            </div>
            <div class="item item-icon-right">
                <span class="shangai1">删除</span>
                <span class="shangai">修改</span>
                <input type="radio"class="zengjiainput1" name="xuanze"id="zengjiainput12"><label for="zengjiainput12">
                <span class="zengjiaspan">刘德华</span></label>
            </div>
            <div class="item item-icon-right">
                <span class="shangai1">删除</span>
                <span class="shangai">修改</span>
                <input type="radio"class="zengjiainput1" name="xuanze"id="zengjiainput13"><label for="zengjiainput13">
                <span class="zengjiaspan">刘德华</span></label>
            </div>
            <div class="item item-icon-right">
                <span class="shangai1">删除</span>
                <span class="shangai">修改</span>
                <input type="radio"class="zengjiainput1" name="xuanze"id="zengjiainput14"><label for="zengjiainput14">
                <span class="zengjiaspan">刘德华</span></label>
            </div>
            <div class="item item-icon-right">
                <span class="shangai1">删除</span>
                <span class="shangai">修改</span>
                <input type="radio"class="zengjiainput1" name="xuanze"id="zengjiainput15"><label for="zengjiainput15">
                <span class="zengjiaspan">刘德华</span></label>
            </div>
        </div>
    </ion-content>
</ion-view>
