<!--选项卡-->
<ion-tabs class="tabs-icon-top tabs-color-positive {{hideTabs}}">
    <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline"badge-style="badge-positive" href="#/tab/news">
        <ion-nav-view name="tab-news"></ion-nav-view>
    </ion-tab>
    <ion-tab title="我的国旅" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="消息" icon-on="ion-ios-chatbubble" icon-off="ion-ios-chatbubble-outline" href="#/tab/community">
        <ion-nav-view name="tab-community"></ion-nav-view>
    </ion-tab>
    <ion-tab title="更多" icon-on="ion-ios-more" icon-off="ion-ios-more-outline" href="#/tab/user">
        <ion-nav-view name="tab-user"></ion-nav-view>
    </ion-tab>
</ion-tabs>