<ion-view view-title="登录">
    <ion-content>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">用户名</span>
                    <input type="text" ng-model="user">
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" ng-model="pass">
                </label>
                <button class="button button-full button-positive">立即登录</button>
                <div style="text-align: center">
                    <a class="" href="" style="text-decoration: none">还没有账号？请注册</a>
                </div>
            </div>
    </ion-content>
</ion-view>