<ion-view>

    <ion-content delegate-handle="head">
    <div class="bar bar-subheader" style="top: 0px">
        <div class="bar bar-header">
            <div class="h1 title">Crestal姗的微店</div>
            <button class="button button-clear button-positive" ng-click="ewm1()">
                <div>二维码<i class="ion-chevron-down"></i>
                </div>
            </button>
        </div>
    </div>
    <div style="position: absolute;right: 10px;top:3%;width: 100px;z-index: 99" ng-show='menuState1.show'><img src="img/erweima.jpg" style="width: 100%"></div>
    <div class="user-back" style="width: 100%">
        <img src="img/lbbg.png">
    </div>
    <div class="user-ranking">
        <div style="position: relative">
            <ul style="margin-left: -7%">
                <li style="border-right:1px solid #ccc ">
                    <h5>今日人气</h5>
                    <p>168</p>
                </li>

                <li style="border-right:1px solid #ccc ">
                    <h5>总人气</h5>
                    <p>8892</p>
                </li>

                <li>
                    <h5>上周排名</h5>
                    <p>2</p>
                </li>
            </ul>
        </div>

    </div>
    <div class="user-inp">
        <div>
            <a href="#tab/homeS">
                <img style="width: 100%;height: 50px" src="img/soso.png">
            </a>
        </div>

    </div>
    <div class="touxiang">
        <img src="img/touxiang.jpg"/>
    </div>
    <div class="jieshao">
        <h3>Crestal姗<h3>
            <p>双十一特卖开始喽，省钱超过4位数!</p>
    </div>

    <a href="tel:110">
         <div class="phone">
             <img src="img/dhicon.png"/>
         </div>
    </a>

    <div class="mokuai">
        <div class="row row-h-1">
            <div class="col col-25" ng-click="ewm(1)">
                <div class="tu">
                    <img src="img/1.png" id="aa">
                    <p>出境游</p>
                </div>
            </div>
            <div class="col col-25" ng-click="ewm(2)">
                <div class="tu">
                    <img src="img/2.png">
                    <p>国内游</p>
                </div>
            </div>
            <div class="col col-25" ng-click="ewm(3)">
                <div class="tu">
                    <img src="img/3.png">
                    <p>票务</p>
                </div>
            </div>
            <div class="col col-25">
                <div class="tu">
                    <img src="img/4.png">
                    <p>私人定制</p>
                </div>
            </div>
        </div>
        <div ng-show="menuState.show_1">
            <div class="mokuaidiv"><img src="img/san.png"></div>
            <ul class="ul">
                <li><a href="#tab/homeD">日本</a></li>
                <li><a href="#tab/order">填写订单</a></li>
                <li><a href="#tab/myorder">我的订单</a></li>
                <li><a href="#tab/selecservice">服务选择</a></li>
                <li><a href="#tab/flight">航班</a></li>
                <li><a href="#tab/jiudian">酒店</a></li>
                <li><a href="#tab/date">日期</a></li>
                <li><a href="#tab/vip">会员中心</a></li>
                <li><a href="#tab/siren">私人定制</a></li>
                <li><a href="#tab/cangwei">舱位</a></li>
                <li><a href="#tab/home-youhui">优惠</a></li>
                <li style="color: #15a6fd">更多</li>

            </ul>
        </div>
        <div ng-show="menuState.show_2">
            <div class="mokuaidiv2"><img src="img/san.png"></div>
            <ul class="ul">
                <li><a href="#tab/gouwushuoming">购物说明</a></li>
                <li><a href="#tab/zengjiachangyong">添加常客</a></li>
                <li><a href="#tab/lianxiang">联想</a></li>
                <li><a href="#tab/gongsijieshao">公司介绍</a></li>
                <li><a href="#tab/cruise">邮轮介绍</a></li>
                <li>峨眉山</li>
                <li>鼓浪屿</li>
                <li>峨眉山</li>
                <li>鼓浪屿</li>
                <li>西湖</li>
                <li>黄山</li>
                <li style="color: #15a6fd">更多</li>
            </ul>
        </div>
        <div ng-show="menuState.show_3">
            <div class="mokuaidiv3"><img src="img/san.png"></div>
            <ul class="ul">
                <li>电子票</li>
                <li>景点门票</li>
                <li>自助餐券</li>
                <a href="#tab/homeB"><li style="color:#15a6fd">更多</li></a>
            </ul>
        </div>

        <div class="row row-h-2">
            <div class="col col-25" ng-click="ewm(5)">
                <div class="tu">
                    <img src="img/5.png">
                    <p>游轮</p>
                </div>
            </div>
            <div class="col col-25" ng-click="ewm(6)">
                <div class="tu">
                    <img src="img/6.png">
                    <p>签证</p>
                </div>
            </div>
            <div class="col col-25" ng-click="ewm(7)">
                <div class="tu">
                    <img src="img/7.png">
                    <p>周边游</p>
                </div>
            </div>
            <div class="col col-25" ng-click="ewm(8)">
                <div class="tu">
                    <img src="img/8.png">
                    <p>旅行用品</p>
                </div>
            </div>
        </div>
        <div ng-show="menuState.show_5" class="homexai user-1">
            <div class="mokuaidiv"><img src="img/san.png"></div>
            <ul class="ul">
                <li>地中海航线</li>
                <li>夏威夷航线</li>
                <li>波罗的海航线</li>
                <li style="color:#15a6fd">更多</li>
            </ul>

        </div>
        <div ng-show="menuState.show_6" class="homexai1 user-1">
            <div class="mokuaidiv2"><img src="img/san.png"></div>
            <ul class="ul">
                <li>日本</li>
                <li>韩国</li>
                <li>法国</li>
                <li>俄罗斯</li>
                <li>美国</li>
                <li>巴西</li>
                <li>泰国</li>
                <a href="#tab/homeC"><li  style="color: #15a6fd">更多</li></a>
            </ul>

        </div>
        <div ng-show="menuState.show_7" class="homexai1 user-1">
            <div class="mokuaidiv3"><img src="img/san.png"></div>
            <ul class="ul">
                <li>山西</li>
                <li>天津</li>
                <li>河北</li>
                <li>盘山</li>
                <li>平遥</li>
                <li>承德</li>
                <li>忻州</li>
                <li style="color: #15a6fd">更多</li>
            </ul>

        </div>
        <div ng-show="menuState.show_8" class="homexai user-1">
            <div class="mokuaidiv4"><img src="img/san.png"></div>
            <ul class="ul">
                <li>箱包</li>
                <li>爱慕莎系列</li>
                <li>电器</li>
                <a href="#tab/homeA"><li style="color:#15a6fd">更多</li></a>
            </ul>

        </div>
    </div>
    <div style="clear: both"> </div>
        <ion-slide-box class="silde-img" does-continue="true" auto-play="true" slide-interval="2000">
            <ion-slide>
                <img src="img/lb.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="img/lb.jpg"/>
            </ion-slide>
            <ion-slide>
                <img src="img/lb.jpg"/>
            </ion-slide>
        </ion-slide-box>



    <!--列表一-->
    <div class="lie1">
        <div class="lie1div"><img src="img/bkzq.png"></div>
        <div class="lie1div1"><img src="img/bkzqimg.png" class="img"></div>
        <div class="liediv">
            <a href="#"><img src="img/cxfw.jpg" class="divimg"></a>
            <a href="#"><img src="img/alx.jpg" class="divimg"></a>
            <a href="#"><img src="img/yiy.jpg"></a>
        </div>
    </div>
    <div class="lie2">
        <a href="#" class="lie2img"><img src="img/ggw1.jpg" ></a>
        <a href="#" class="lie2img1"><img src="img/ggw2.jpg"></a>
    </div>
    <div class="re">
        <div class="xian"></div>
        <div class="tuzi">
            <div><img src="img/tjicon.png"></div>
            <span>热门推荐</span></div>
    </div>
    <!--列表二-->
    <div class="lieer">
        <div class="lieer1"><img src="img/gtyicon.png"></div>
        <div class="lieer2">
            <img src="img/yhqicon.png">
            <img src="img/mjicon.png">
            <img src="img/ljicon.png">
            <img src="img/mzicon.png">
        </div>
        <img src="img/cpimg.jpg" class="lieerimg">
        <div class="lieer3">
            <div class="lieer31"><p>法国瑞士意大利12日深度游，五星酒店，国航直飞。</p></div>
            <div class="lieer32">
                <p class="lieer32p">￥<span>15688</span>人/起</p>
                <p class="lieer32p1">￥19988人/起</p>
            </div>
        </div>
    </div>
    <div class="lieer">
        <div class="lieer1"><img src="img/zyxicon.png"></div>
        <div class="lieer21">
            <img src="img/msicon.png">
            <p class="lieer211">{{laveDay}}</p>
            <p class="lieer212">{{laveHour}}</p>
            <p class="lieer213">{{laveMinute}}</p>
            <p class="lieer214">{{laveSecond}}</p>
        </div>
        <img src="img/cpimg.jpg" class="lieerimg">
        <div class="lieer3">
            <div class="lieer31"><p>法国瑞士意大利12日深度游，五星酒店，国航直飞。</p></div>
            <div class="lieer32">
                <p class="lieer32p">￥<span>15688</span>人/起</p>
                <p class="lieer32p1">￥19988人/起</p>
            </div>
        </div>
    </div>
    <div class="lieer">
        <div class="lieer1"><img src="img/ylicon.png"></div>
        <div class="lieer21">
            <img src="img/ysicon.png">
            <p class="lieer215">2015</p>
            <p class="lieer216">11</p>
            <p class="lieer217">25</p>
        </div>
        <img src="img/cpimg.jpg" class="lieerimg">
        <div class="lieer3">
            <div class="lieer31"><p>法国瑞士意大利12日深度游，五星酒店，国航直飞。</p></div>
            <div class="lieer32">
                <p class="lieer32p">￥<span>15688</span>人/起</p>
                <p class="lieer32p1">￥19988人/起</p>
            </div>
        </div>
    </div>
    <div class="lieer">
        <div class="lieer1"><img src="img/gtyicon.png"></div>
        <div class="lieer2">
            <img src="img/yhqicon.png">
            <img src="img/mjicon.png">
            <img src="img/ljicon.png">
            <img src="img/mzicon.png">
        </div>
        <img src="img/cpimg.jpg" class="lieerimg">
        <div class="lieer3">
            <div class="lieer31"><p>法国瑞士意大利12日深度游，五星酒店，国航直飞。</p></div>
            <div class="lieer32">
                <p class="lieer32p">￥<span>15688</span>人/起</p>
                <p class="lieer32p1">￥19988人/起</p>
            </div>
        </div>
    </div>
    <div style="width: 100%;height: 66px"></div>
    </ion-content>

   <div class="bar " style="height: 60px;bottom: 45px">
       <a href="#tab/vip">
           <div style="width: 100%">
               <img src="img/touxiang.jpg" style="width: 45px;float: left;border-radius:50%;margin-left: 10px">
               <p style="width: 60%;float: left;margin-left: 10px">专业旅游顾问，为您提供各类旅游资讯，欢迎来电咨询</p>
               <a href="tel:电话号码" style="float: right"><img src="img/telicon.png" style="width: 45px;"></a>
           </div>
       </a>

    </div>
</ion-view>
